<div class="container pt-5">
    <div class="row">
        <div class="col-lg-6" data-aos="fade-right" data-aos-duration="3000">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="../../assets/img/Akhenaten.jfif" class="img-fluid rounded-start" alt="Akhenaten" style="height: 250px; width: 200px;">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title pt-3 text-center ">Akhenaten</h5>
                      <p class="card-text text-align-justify" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed" [horizontal]="true">
                        Akhenaten, originally named "Amenhotep IV", was a pharaoh of ancient Egypt's 18th dynasty, ruling from around 1353 to 1336 BCE. He is famous for his radical religious reforms, which included promoting the worship of a single deity, "Aten", the sun disk. This was a significant shift from Egypt’s traditional polytheistic beliefs, where a pantheon of gods was worshipped. Here’s an overview of his reign and legacy:<br><br>

                        <b>1. Religious Revolution :</b> <br>
                        - Monotheism: Akhenaten introduced a form of monotheism centered on Aten, the sun disk, which he declared the supreme and only god. This shift is often considered the first known attempt at monotheism in recorded history.<br>
                        - Suppression of Amun and Other Deities: Akhenaten reduced the power of Egypt’s influential priests, especially those serving Amun, one of the most important gods of the time. He shut down Amun’s temples, erased Amun's images, and redirected resources to Aten.<br>
                        - The Hymn to Aten: Akhenaten wrote a famous hymn dedicated to Aten, which praises the sun’s life-giving power and emphasizes a personal connection to the divine.<br><br>

                        <b>2. New Capital at Amarna :</b><br>
                        - Akhenaten established a new capital, "Akhetaten" (modern-day Amarna), dedicated solely to the worship of Aten. This city, located along the Nile, was meant to be a fresh start for his religious vision and freed from the influence of the Amun priesthood.<br>
                        - Unique Architecture and Art: The art and architecture of Amarna were distinctive. Pharaohs were typically depicted with idealized, muscular physiques, but Akhenaten is shown with exaggerated features—elongated face, wide hips, and slender limbs, emphasizing a break from tradition.<br><br>

                        <b>3. Family Life :</b><br>
                        - Queen Nefertiti: Akhenaten’s queen, Nefertiti, was a powerful figure in her own right. She played a major role in religious practices and was frequently depicted alongside Akhenaten. Some evidence suggests she may have ruled briefly as pharaoh after his death.<br>
                        - Children: Among his children were several daughters and the future king "Tutankhamun", though Tutankhamun’s mother was not Nefertiti. Tutankhamun later abandoned Atenism and restored Egypt’s traditional religion.<br><br>

                        <b>4. Controversial Legacy and Return to Tradition :</b><br>
                        - After Akhenaten’s death, his successors sought to erase his legacy, often referred to as the "Amarna Period." This period was marked by instability, and many Egyptians resented the suppression of traditional beliefs.<br>
                        - Return to Thebes: Egypt’s religious center shifted back to Thebes, and the worship of Amun and other gods was reinstated. Akhenaten’s city of Akhetaten was abandoned, and his statues and inscriptions were systematically defaced.<br>
                        - Impact on History: Akhenaten’s religious reforms were so controversial that later rulers tried to remove his name from records. However, the Amarna Period continues to be studied as a fascinating chapter in Egypt’s history and for its pioneering concept of monotheism.<br><br>

                        Akhenaten's unique and turbulent reign left a lasting impact on ancient Egypt, despite the official attempts to erase him from history. His religious ideas and artistic innovations are still widely discussed and analyzed for their distinct break from millennia-old traditions.
                      </p>
                      <button type="button" class="btn btn-warning mt-5" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample"> Click here to show and hide information </button>
                    </div>
                  </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6" data-aos="fade-left" data-aos-duration="3000">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="../../assets/img/Hatshepsut.jpg" class="img-fluid rounded-start" alt="Hatshepsut" style="height: 250px; width: 200px;">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title pt-3 text-center ">Hatshepsut</h5>
                      <p class="card-text text-align-justify" #collapse1="ngbCollapse" [(ngbCollapse)]="isCollapsed1" [horizontal]="true">
                        Hatshepsut, one of ancient Egypt’s most remarkable pharaohs, ruled during the 18th Dynasty (approximately 1479–1458 BCE). She was one of the few female pharaohs and is widely remembered for her prosperous reign, during which she focused on building and trade rather than warfare.<br>
                        Here are some key highlights about Hatshepsut:<br><br>

                        <b>1. Rise to Power:</b><br>
                        Hatshepsut was the daughter of Pharaoh Thutmose I. She became the queen by marrying her half-brother Thutmose II. After his death, her stepson Thutmose III was too young to rule, so Hatshepsut initially served as his regent. Eventually, she declared herself pharaoh and assumed full power, taking on the regalia and symbols of a king, even depicting herself as male in statues and carvings.<br><br>

                        <b>2. Peaceful and Prosperous Reign:</b><br> 
                        Hatshepsut’s rule is noted for peace and economic growth. She promoted extensive trade expeditions, most famously to the land of Punt (possibly modern-day Eritrea or Somalia). This expedition brought back wealth in the form of gold, incense, ivory, and exotic animals, which she used to enrich her kingdom.<br><br>

                        <b>3. Architectural Legacy: </b><br>
                        Hatshepsut initiated numerous building projects, many of which were remarkable in scale and design. Her most famous construction is her mortuary temple at Deir el-Bahri, a magnificent structure set against the cliffs in Luxor. This temple is an architectural marvel with terraces, colonnades, and statues, reflecting her devotion to the gods and her legacy as a builder.<br><br>

                        <b>4. Artistic Achievements:</b><br> 
                        Hatshepsut’s reign saw a flowering of artistic production. She commissioned statues and reliefs that depicted her as both feminine and masculine, which symbolized her unique position as a female pharaoh.<br><br>

                        <b>5. Disappearance and Legacy:</b><br> 
                        After her death, her stepson Thutmose III ascended to full power. For reasons still debated by historians, Thutmose III later attempted to erase Hatshepsut’s legacy by defacing her monuments and removing her name from official records. This may have been an attempt to restore the traditional male line of succession, or to distance his reign from hers. However, her monuments and statues were preserved enough to be rediscovered in modern times, allowing historians to piece together her story.<br><br>

                        <b>6. Rediscovery:</b><br> 
                        Hatshepsut’s mortuary temple was excavated in the 19th century, and her mummy was identified in 2007 in KV60, a tomb in the Valley of the Kings. Her rediscovery has provided historians with valuable insight into her reign and has cemented her place in history as a powerful and skilled ruler of ancient Egypt.
                      </p>
                      <button type="button" class="btn btn-warning mt-5" (click)="collapse1.toggle()" [attr.aria-expanded]="!isCollapsed1" aria-controls="collapseExample1"> Click here to show and hide information </button>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-6" data-aos="fade-right" data-aos-duration="3000">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="../../assets/img/Ramses_II.jpg" class="img-fluid rounded-start" alt="Ramesses II" style="height: 250px; width: 200px;">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title pt-3 text-center ">Ramesses II</h5>
                      <p class="card-text text-align-justify" #collapse2="ngbCollapse" [(ngbCollapse)]="isCollapsed2" [horizontal]="true">
                        Ramesses II, also known as Ramesses the Great, was one of ancient Egypt's most powerful and celebrated pharaohs. Here are some key aspects of his life and legacy:<br><br>

                        <b>1. Reign and Dynastic Background:</b><br>
                        - Ramesses II was the third pharaoh of Egypt’s Nineteenth Dynasty and ruled for approximately 66 years, from 1279 to 1213 BCE.<br>
                        - He is often regarded as one of Egypt's most powerful rulers due to his military campaigns, ambitious building projects, and ability to maintain stability across the empire.<br>
                        - His long reign brought a period of prosperity, and he was deified even in his own lifetime.<br><br>

                        <b>2. Military Campaigns:</b><br>
                        - Ramesses II is well known for his military achievements, particularly his campaigns in the Levant and Nubia.<br>
                        - The Battle of Kadesh against the Hittites is one of the most famous encounters during his reign, which took place around 1274 BCE. Although it ended in a stalemate, Ramesses portrayed it as a great victory.<br>
                        - Later, he signed one of history’s first recorded peace treaties with the Hittite King Hattusili III, establishing long-term peace.<br><br>

                        <b>3. Building Projects and Monuments:</b><br>
                        - Ramesses II undertook massive construction projects to honor the gods, glorify his reign, and demonstrate Egypt’s strength.<br>
                        - He built temples, statues, and monuments, including the Ramesseum in Thebes and the temples at Abu Simbel, carved into a cliff as a tribute to himself and his queen, Nefertari.<br>
                        - Many of his monuments feature colossal statues of himself, emphasizing his power and divine association.<br><br>

                        <b>4. Family and Personal Life:</b><br>
                        - Ramesses II had numerous wives, with his first and favorite queen being Nefertari. His other notable wives included Isetnofret and later daughters who became consorts.<br>
                        - He had over 90 children, which helped him secure a lasting lineage and support in governance.<br>
                        - His mummy is one of the best-preserved royal mummies and is currently housed in the Egyptian Museum in Cairo.<br><br>

                        <b>5. Legacy and Impact:</b><br>
                        - Ramesses II was remembered as a powerful and capable leader for centuries, and many later pharaohs sought to emulate his legacy.<br>
                        - His name, buildings, and temples endured well into later historical periods, contributing to his image as "the Great Ancestor" in Egyptian history.<br>
                        - Modern discoveries of his artifacts and monuments have reinforced his reputation as one of the most iconic figures in ancient Egypt.<br><br>

                        Ramesses II’s reign marked the height of ancient Egypt's imperial power, and his legacy continues to fascinate historians, archaeologists, and Egyptologists today.
                      </p>
                      <button type="button" class="btn btn-warning mt-5" (click)="collapse2.toggle()" [attr.aria-expanded]="!isCollapsed2" aria-controls="collapseExample2"> Click here to show and hide information </button>
                    </div>
                  </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6" data-aos="fade-left" data-aos-duration="3000">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="../../assets/img/Tutankhamun.jfif" class="img-fluid rounded-start" alt="Tutankhamun" style="height: 250px; width: 200px;">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title pt-3 text-center ">Tutankhamun</h5>
                      <p class="card-text text-align-justify" #collapse3="ngbCollapse" [(ngbCollapse)]="isCollapsed3" [horizontal]="true">
                        Ramesses II, also known as Ramesses the Great, was one of ancient Egypt's most powerful and celebrated pharaohs. Here are some key aspects of his life and legacy:<br><br>

                        <b>1. Reign and Dynastic Background:</b><br>
                        - Ramesses II was the third pharaoh of Egypt’s Nineteenth Dynasty and ruled for approximately 66 years, from 1279 to 1213 BCE.<br>
                        - He is often regarded as one of Egypt's most powerful rulers due to his military campaigns, ambitious building projects, and ability to maintain stability across the empire.<br>
                        - His long reign brought a period of prosperity, and he was deified even in his own lifetime.<br><br>

                        <b>2. Military Campaigns:</b><br>
                        - Ramesses II is well known for his military achievements, particularly his campaigns in the Levant and Nubia.<br>
                        - The Battle of Kadesh against the Hittites is one of the most famous encounters during his reign, which took place around 1274 BCE. Although it ended in a stalemate, Ramesses portrayed it as a great victory.<br>
                        - Later, he signed one of history’s first recorded peace treaties with the Hittite King Hattusili III, establishing long-term peace.<br><br>

                        <b>3. Building Projects and Monuments:</b><br>
                        - Ramesses II undertook massive construction projects to honor the gods, glorify his reign, and demonstrate Egypt’s strength.<br>
                        - He built temples, statues, and monuments, including the Ramesseum in Thebes and the temples at Abu Simbel, carved into a cliff as a tribute to himself and his queen, Nefertari.<br>
                        - Many of his monuments feature colossal statues of himself, emphasizing his power and divine association.<br><br>

                        <b>4. Family and Personal Life:</b><br>
                        - Ramesses II had numerous wives, with his first and favorite queen being Nefertari. His other notable wives included Isetnofret and later daughters who became consorts.<br>
                        - He had over 90 children, which helped him secure a lasting lineage and support in governance.<br>
                        - His mummy is one of the best-preserved royal mummies and is currently housed in the Egyptian Museum in Cairo.<br><br>

                        <b>5. Legacy and Impact:</b><br>
                        - Ramesses II was remembered as a powerful and capable leader for centuries, and many later pharaohs sought to emulate his legacy.<br>
                        - His name, buildings, and temples endured well into later historical periods, contributing to his image as "the Great Ancestor" in Egyptian history.<br>
                        - Modern discoveries of his artifacts and monuments have reinforced his reputation as one of the most iconic figures in ancient Egypt.<br><br>

                        Ramesses II’s reign marked the height of ancient Egypt's imperial power, and his legacy continues to fascinate historians, archaeologists, and Egyptologists today.
                      </p>
                      <button type="button" class="btn btn-warning mt-5" (click)="collapse3.toggle()" [attr.aria-expanded]="!isCollapsed3" aria-controls="collapseExample3"> Click here to show and hide information </button>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6" data-aos="fade-right" data-aos-duration="3000">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="../../assets/img/Ahmose_I.png" class="img-fluid rounded-start" alt="Ahmose I" style="height: 250px; width: 200px;">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title pt-3 text-center ">Ahmose I</h5>
                      <p class="card-text text-align-justify" #collapse4="ngbCollapse" [(ngbCollapse)]="isCollapsed4" [horizontal]="true">
                        Ahmose I was a significant figure in ancient Egyptian history, best known for his role in expelling the Hyksos from Egypt and reuniting the country. Here are some key points about him:<br><br>

                        <b>Early Life :</b><br>
                        <b>- Birth:</b> Ahmose I was born into the 17th Dynasty around 1570 BCE.<br>
                        <b>- Family:</b> He was the son of Seqenenre Tao and Ahhotep I. His family was involved in the struggle against the Hyksos, who had invaded and ruled parts of Egypt for over a century.<br><br>

                        <b>Reign :</b><br>
                        <b>- Time as Pharaoh:</b> Ahmose I ruled as Pharaoh from approximately 1550 BCE to 1525 BCE. He is considered the founder of the 18th Dynasty, which marked the beginning of the New Kingdom era in Egypt.<br>
                        <b>- Military Campaigns:</b> He led military campaigns against the Hyksos, successfully recapturing the capital city of Avaris and expelling them from Egypt. His victory at the battle of Sharuhen was particularly notable.<br>
                        <b>- Unification of Egypt:</b> His campaigns helped to reunite Egypt and restore native Egyptian rule after the Hyksos invasion.<br><br>

                        <b>Achievements :</b><br>
                        <b>- Cultural Renaissance:</b> Ahmose I is credited with initiating a period of prosperity and cultural revival in Egypt, leading to advancements in art, architecture, and literature.<br>
                        <b>- Building Projects</b>: He commissioned several significant building projects, including temples and monuments. The Temple of Karnak was expanded during his reign.<br>
                        <b>- Religious Reforms:</b> He reinstated the worship of traditional Egyptian deities and promoted the god Amun, contributing to the rise of Thebes as a major religious center.<br><br>

                        <b>Legacy :</b><br>
                        <b>- Tomb:</b> Ahmose I was buried in a tomb in the Valley of the Kings, which is notable for its architectural design.<br>
                        <b>- Historical Significance:</b> His reign is often viewed as the beginning of the New Kingdom, a period characterized by wealth, power, and extensive building projects in ancient Egypt.<br>
                        <b>- Descendants:</b> He was succeeded by his son, Amenhotep I, and his dynasty continued to rule for several centuries, shaping the future of ancient Egypt.<br><br>

                        Ahmose I is remembered as a unifier and a warrior king who played a crucial role in restoring Egypt's sovereignty and stability.
                      </p>
                      <button type="button" class="btn btn-warning mt-5" (click)="collapse4.toggle()" [attr.aria-expanded]="!isCollapsed4" aria-controls="collapseExample24"> Click here to show and hide information </button>
                    </div>
                  </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6" data-aos="fade-left" data-aos-duration="3000">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="../../assets/img/Amenhotep_III.jpg" class="img-fluid rounded-start" alt="Amenhotep III" style="height: 250px; width: 200px;">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title pt-3 text-center ">Amenhotep III</h5>
                      <p class="card-text text-align-justify" #collapse5="ngbCollapse" [(ngbCollapse)]="isCollapsed5" [horizontal]="true">
                        Amenhotep III was the ninth pharaoh of the Eighteenth Dynasty of Egypt, ruling from around 1391 to 1353 BCE. He is considered one of Egypt's most powerful and influential pharaohs, and his reign marked a high point in ancient Egyptian civilization. Here are some key points about him:<br><br>

                        <b>Background :</b><br>
                        <b>- Parentage:</b> He was the son of Thutmose IV and Queen Mutemwiya. His accession to the throne was relatively peaceful, and he built upon the foundations laid by his father.<br><br>

                        <b>Achievements :</b><br>
                        <b>- Territorial Expansion:</b> Amenhotep III expanded Egypt's borders through military campaigns, securing territories in Nubia and the Levant. His reign was characterized by diplomatic relations and marriages with foreign royal families, which helped maintain peace and trade.<br><br>
                        <b>- Building Projects:</b> He is renowned for his monumental building projects, including:<br>
                        <b>- The Temple of Amun at Karnak:</b> He significantly enlarged this temple complex.<br>
                        <b>- The Luxor Temple:</b> Construction of this temple was part of his efforts to create a grand religious complex in Thebes.<br>
                        <b>- Colossi of Memnon:</b> Two massive statues erected at the entrance of his mortuary temple, which remain iconic symbols of ancient Egypt.<br><br>

                        <b>- Art and Culture:</b> His reign was a golden age for arts and culture, leading to advancements in sculpture, painting, and craftsmanship. He promoted the creation of fine jewelry and decorative arts.<br><br>

                        <b>Religion :</b><br>
                        <b>- Worship of Amun:</b> Amenhotep III strongly promoted the worship of the god Amun, aligning himself with the priesthood of Amun and further establishing Amun's supremacy in the Egyptian pantheon.<br><br>

                        <b>Family :</b><br>
                        <b>- Marriage:</b> He married several wives, including Tiye, who was a significant influence during his reign and a powerful queen in her own right. He had many children, including his successor, Amenhotep IV (Akhenaten).<br><br>

                        <b>Legacy :</b><br>
                        <b>- Successor:</b> His son, Amenhotep IV, later changed his name to Akhenaten and introduced a radical religious transformation, which affected the course of Egyptian history.<br>
  
                        <b>- Death and Burial:</b> Amenhotep III's burial took place in the Valley of the Kings, and his tomb (KV22) has been excavated, revealing valuable artifacts and inscriptions.<br><br>

                        Amenhotep III's reign is often viewed as a high point of cultural and political achievement in ancient Egypt, laying the groundwork for subsequent developments in the region.
                    </p>
                      <button type="button" class="btn btn-warning mt-5" (click)="collapse5.toggle()" [attr.aria-expanded]="!isCollapsed5" aria-controls="collapseExample5"> Click here to show and hide information </button>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6" data-aos="fade-right" data-aos-duration="3000">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="../../assets/img/Nefertiti.jpg" class="img-fluid rounded-start" alt="Nefertiti" style="height: 250px; width: 200px;">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title pt-3 text-center ">Nefertiti</h5>
                      <p class="card-text text-align-justify" #collapse6="ngbCollapse" [(ngbCollapse)]="isCollapsed6" [horizontal]="true">
                        Nefertiti was an ancient Egyptian queen, renowned for her beauty, influence, and intriguing role in Egypt's history. She was the Great Royal Wife of Pharaoh Akhenaten, who ruled during the 18th dynasty around 1353–1336 BCE. Her name means "the beautiful one has come," and she is most famously depicted in the iconic limestone bust, which shows her with an elongated neck, high cheekbones, and a tall, flat-topped crown.<br><br>

                        Here’s a bit more about her life and role:<br>

                        <b>1. Religious Reforms:</b><br>
                        Nefertiti played a key role in Akhenaten's religious revolution. Together, they promoted the worship of a single deity, Aten, the sun disk, which marked a significant shift from Egypt's traditional polytheism. This period, known as the Amarna Period, saw the capital moved to Akhetaten (modern-day Amarna).<br><br>

                        <b>2. Influence and Power:</b><br> 
                        Nefertiti held a high status and was depicted in art in powerful positions, participating in ceremonies typically reserved for pharaohs. Her unusual portrayal alongside Akhenaten in equal stature suggests she held significant influence and may have even ruled alongside or after him.<br><br>

                        <b>3. Mystery of Her Death: </b><br>
                        After about 12 years of Akhenaten's reign, Nefertiti’s depictions in records seem to stop abruptly, leading to much speculation about her death or possible elevation to a higher, possibly even male, position. Some believe she might have taken on a new identity as Pharaoh Smenkhkare, ruling in the years between Akhenaten and Tutankhamun.<br><br>

                        <b>4. Her Iconic Bust:</b><br> 
                        The famous bust of Nefertiti, discovered in 1912 by German archaeologists, is one of the most recognized symbols of ancient Egypt. Now in the Neues Museum in Berlin, the bust captures her beauty and elegance and has become a global icon of feminine beauty and power.<br><br>

                        Nefertiti's legacy endures, symbolizing a powerful, enigmatic, and influential female figure in ancient history.
                      </p>
                      <button type="button" class="btn btn-warning mt-5" (click)="collapse6.toggle()" [attr.aria-expanded]="!isCollapsed6" aria-controls="collapseExample6"> Click here to show and hide information </button>
                    </div>
                  </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6" data-aos="fade-left" data-aos-duration="3000">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="../../assets/img/Seti_I.png" class="img-fluid rounded-start" alt="Seti I" style="height: 250px; width: 200px;">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title pt-3 text-center ">Seti I</h5>
                      <p class="card-text text-align-justify" #collapse7="ngbCollapse" [(ngbCollapse)]="isCollapsed7" [horizontal]="true">
                        Seti I was an ancient Egyptian pharaoh of the 19th Dynasty, ruling from approximately 1290 to 1279 BCE. He was the father of the famous pharaoh Ramesses II, also known as Ramesses the Great. Seti I's reign is often considered one of the highlights of the New Kingdom period, marked by significant achievements in military campaigns, construction, and administration.<br><br>

                        Here are some key points about Seti I:<br>

                        <b>1. Military Achievements :</b><br>
                        - Seti I embarked on various military campaigns to reassert Egypt’s dominance over its empire, particularly in the Levant (modern-day Syria and Palestine) and Nubia (southern Egypt and northern Sudan).<br>
                        - He aimed to restore Egyptian control in regions that had become destabilized and was quite successful in quelling rebellions and securing Egypt’s borders.<br><br>

                        <b>2. Construction Projects :</b><br>
                        - Seti I is known for his ambitious building projects, including the construction of the Great Temple of Osiris at Abydos, which was one of the most important religious sites in ancient Egypt.<br>
                        - His mortuary temple at Abydos, known as the Temple of Seti I, is famous for its artistic and architectural sophistication, including intricate reliefs and detailed inscriptions.<br>
                        - He also contributed to the expansion of the Temple of Amun at Karnak in Thebes, adding structures and reliefs that depicted his military victories.<br><br>

                        <b>3. Abydos King List :</b><br>
                        - One of Seti I's most significant contributions to Egyptian history was the Abydos King List, a chronological list of previous pharaohs. This artifact is inscribed in his temple at Abydos and has helped historians reconstruct Egypt's royal lineage.<br><br>

                        <b>4. Religious Contributions :</b><br>
                        - Seti I was deeply religious and promoted the worship of Egypt's primary gods, including Amun, Osiris, and Ptah.<br>
                        - He reinforced the role of the priesthood and funded various religious institutions, which solidified the central role of these deities in Egyptian society.<br><br>

                        <b>5. Tomb in the Valley of the Kings :</b><br>
                        - Seti I was buried in a richly decorated tomb (KV17) in the Valley of the Kings, known for its beautiful paintings and long corridor layout. His tomb is one of the most well-preserved in the valley and is famous for its vibrant color and quality of art.<br><br>

                        <b>6. Legacy :</b><br>
                        - Seti I’s reign is often seen as a time of consolidation, restoration, and prosperity, laying the groundwork for the reign of his son, Ramesses II.<br>
                        - His policies, military successes, and construction projects helped re-establish Egypt as a dominant power in the region, earning him respect and a lasting legacy among later pharaohs.<br><br>
                    </p>
                      <button type="button" class="btn btn-warning mt-5" (click)="collapse7.toggle()" [attr.aria-expanded]="!isCollapsed7" aria-controls="collapseExample7"> Click here to show and hide information </button>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6" data-aos="fade-right" data-aos-duration="3000">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="../../assets/img/Khufu.jpg" class="img-fluid rounded-start" alt="Khufu" style="height: 250px; width: 200px;">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title pt-3 text-center ">Khufu</h5>
                      <p class="card-text text-align-justify" #collapse8="ngbCollapse" [(ngbCollapse)]="isCollapsed8" [horizontal]="true">
                        Khufu, also known by the Greek name Cheops, was an ancient Egyptian pharaoh who ruled during the Fourth Dynasty of the Old Kingdom, around 2589–2566 BCE. He is most famous for commissioning the Great Pyramid of Giza, one of the Seven Wonders of the Ancient World and the largest pyramid built in ancient Egypt.<br><br>

                        Here are some key points about Khufu:<br>

                        <b>1. Reign: </b><br>
                        Khufu’s reign is estimated to have lasted for around 23 years, but the exact dates are uncertain. He succeeded his father, Sneferu, and was succeeded by his son, Djedefre.<br><br>

                        <b>2. Great Pyramid of Giza: </b><br> 
                        The most notable achievement of Khufu's reign is the construction of the Great Pyramid, which originally stood at about 146 meters (480 feet) tall. It was the tallest man-made structure in the world for over 3,800 years. The pyramid demonstrates the incredible engineering capabilities of the ancient Egyptians.<br><br>

                        <b>3. Pyramid Complex: </b><br> 
                        Khufu’s pyramid complex included several smaller pyramids for his family members, mortuary temples, and a network of causeways and satellite pyramids, showcasing advanced planning and construction skills.<br><br>

                        <b>4. Personality: </b><br>
                        Accounts of Khufu's personality vary. Ancient Greek historian Herodotus described him as a tyrant, while ancient Egyptian sources do not provide significant insights into his character. Modern historians, however, believe Herodotus’s account may have been exaggerated or biased.<br><br>

                        <b>5. Legacy: </b><br>
                        Despite the lack of detailed records about his life, Khufu’s legacy lives on through his monumental pyramid, which has become an enduring symbol of ancient Egypt's grandeur and architectural prowess.<br><br>

                        <b>6. Artifacts: </b><br> 
                        Few artifacts from Khufu’s reign survive. One of the most famous is the "Khufu Statuette," a small ivory figure of the pharaoh, which is one of the only known representations of him.<br><br>

                        Khufu's Great Pyramid remains one of the most studied and visited ancient monuments in the world, continuing to inspire awe for the complexity and scale of ancient Egyptian engineering.
                      </p>
                      <button type="button" class="btn btn-warning mt-5" (click)="collapse8.toggle()" [attr.aria-expanded]="!isCollapsed8" aria-controls="collapseExample8"> Click here to show and hide information </button>
                    </div>
                  </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6" data-aos="fade-left" data-aos-duration="3000">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="../../assets/img/Khafre.jpg" class="img-fluid rounded-start" alt="Khafre" style="height: 250px; width: 200px;">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title pt-3 text-center ">Khafre</h5>
                      <p class="card-text text-align-justify" #collapse9="ngbCollapse" [(ngbCollapse)]="isCollapsed9" [horizontal]="true">
                        Khafre, also known as Chephren in Greek, was an ancient Egyptian pharaoh of the Fourth Dynasty during the Old Kingdom, reigning around 2570–2540 BCE. He is famous for commissioning the second-largest of the Giza Pyramids, the Pyramid of Khafre, and is traditionally associated with the Great Sphinx of Giza, though evidence for this link is debated.<br><br>

                        <b>Key Details about Khafre</b><br>

                        <b>1. Dynasty and Family:</b><br>
                        - Khafre was a son of Pharaoh Khufu, the builder of the Great Pyramid.<br>
                        - He succeeded his elder brother, Djedefre, who ruled briefly.<br>
                        - He was succeeded by his son Menkaure, the builder of the third pyramid at Giza.<br><br>

                        <b>2. Pyramid of Khafre:</b><br>
                        - Located in the Giza pyramid complex, it appears taller than Khufu's pyramid due to its elevated position, although it's slightly smaller.<br>
                        - The pyramid is famous for its well-preserved smooth limestone casing at the top, giving insight into how these structures originally appeared.<br><br>

                        <b>3. The Great Sphinx:</b><br>
                        - The Great Sphinx, which guards the Giza plateau, is often attributed to Khafre. It’s a massive limestone statue with a lion’s body and a human head, likely meant to represent Khafre.<br>
                        - Some scholars argue that the Sphinx may have been built by his predecessor or successor, but the most common view links it to Khafre’s reign.<br><br>

                        <b>4. Art and Statues:</b><br>
                        - Khafre’s statues are some of the most celebrated works of Egyptian art, especially his diorite statues found in the Valley Temple, near the Sphinx. These statues reflect idealized depictions of the pharaoh, showing him as a powerful, serene figure.<br><br>

                        <b>5. Legacy and Religion:</b><br>
                        - Khafre was worshipped as a god-king after his death, and his monuments continued to serve religious purposes long after his dynasty.
                      </p>
                      <button type="button" class="btn btn-warning mt-5" (click)="collapse9.toggle()" [attr.aria-expanded]="!isCollapsed9" aria-controls="collapseExample9"> Click here to show and hide information </button>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6" data-aos="fade-right" data-aos-duration="3000">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="../../assets/img/Menkaure.jpg" class="img-fluid rounded-start" alt="Menkaure" style="height: 250px; width: 200px;">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title pt-3 text-center ">Menkaure</h5>
                      <p class="card-text text-align-justify" #collapse10="ngbCollapse" [(ngbCollapse)]="isCollapsed10" [horizontal]="true">
                        Menkaure was an ancient Egyptian pharaoh of the Fourth Dynasty during the Old Kingdom period, ruling around 2490–2472 BCE. He is best known as the builder of the third pyramid at Giza, which is smaller than the pyramids of his predecessors, Khufu and Khafre, but still remarkable in design and structure. Here are some key points about Menkaure:<br><br>

                        <b>Pyramid and Complex :</b><br>
                        <b>- Pyramid at Giza:</b> Menkaure's pyramid, known as the "Pyramid of Menkaure," is about 65 meters (213 feet) tall, significantly smaller than Khufu's and Khafre's. However, it’s unique due to the use of high-quality materials, including a granite casing on its lower courses.<br>
                        <b>- Mortuary Temple and Causeway:</b> Menkaure’s pyramid complex included a mortuary temple, a valley temple, and a causeway that connected the two. His temple was more elaborate than those of his predecessors.<br>
                        <b>- Queens’ Pyramids:</b> Three smaller pyramids are adjacent to Menkaure's pyramid, believed to be for his queens or consorts.<br><br>
                        
                        <b>Art and Sculpture :</b><br>
                        <b>- Famous Statues:</b> Menkaure is known for exquisite statues found at his mortuary temple, especially the iconic triad statues depicting Menkaure with the goddess Hathor and a personification of a region in Egypt. These sculptures are celebrated for their realism, craftsmanship, and representation of royal divinity.<br><br>
  
                        <b>Reign and Legacy :</b><br>
                        <b>- Shorter Reign:</b> Menkaure’s reign was shorter compared to previous kings, and it’s believed that he did not finish his pyramid complex before his death.<br>
                        <b>- Cultural Contributions:</b> Menkaure is often portrayed as a more benevolent and pious king compared to Khufu, though historical records from this period are scarce.<br><br>

                        <b>Tomb and Burial :</b><br>
                        Menkaure's pyramid complex has been extensively studied, and despite its relatively smaller size, it holds cultural and historical significance due to its architectural and artistic achievements.
                      </p>
                      <button type="button" class="btn btn-warning mt-5" (click)="collapse10.toggle()" [attr.aria-expanded]="!isCollapsed10" aria-controls="collapseExample10"> Click here to show and hide information </button>
                    </div>
                  </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6" data-aos="fade-left" data-aos-duration="3000">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="../../assets/img/Senusret I.jfif" class="img-fluid rounded-start" alt="Senusret I" style="height: 250px; width: 200px;">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title pt-3 text-center ">Senusret I</h5>
                      <p class="card-text text-align-justify" #collapse11="ngbCollapse" [(ngbCollapse)]="isCollapsed11" [horizontal]="true">
                        Senusret I (also spelled Senwosret or Sesostris I) was a prominent pharaoh of ancient Egypt's Middle Kingdom, ruling during the 12th Dynasty, approximately from 1971–1926 BCE. He is particularly known for his focus on strengthening the central government, expanding Egypt's borders, and commissioning impressive architectural projects. Here are some key aspects of his reign:<br><br>

                        <b>1. Strengthening Egypt's Administration :</b><br>
                        - Senusret I followed his father, Amenemhat I, and continued his policies, centralizing the power around the Pharaoh. He created a strong administration to govern Egypt more effectively, reducing the influence of local nobles, which helped in maintaining control over Egypt's vast territories.<br>
                        - He established a clear system of governance and introduced new laws that made the legal system more robust, helping Egypt remain stable and prosperous during his reign.<br><br>

                        <b>2. Military Campaigns and Expansion :</b><br>
                        - Senusret I led campaigns to expand Egypt’s influence and protect its borders, especially toward Nubia in the south, where he built forts along the Nile River to safeguard Egypt’s southern frontier.<br>
                        - His military efforts secured resources like gold, copper, and precious stones, which were abundant in Nubia. These resources helped fuel Egypt's economy and enabled him to fund his building projects.<br><br>

                        <b>3. Religious Contributions and Patronage :</b><br>
                        - Senusret I was a devout supporter of the god Amun, particularly in Thebes. He commissioned many temples and shrines dedicated to Amun, elevating Thebes as a religious center.<br>
                        - One of his most significant religious constructions was the expansion of the Temple of Karnak. His contributions helped establish Amun as one of the most prominent gods in the Egyptian pantheon.<br><br>

                        <b>4. Architectural Achievements :</b><br>
                        - Senusret I is credited with advancing Egyptian architecture, including his pyramid complex at Lisht, where he built his pyramid surrounded by smaller pyramids for his family members.<br>
                        - He also commissioned many obelisks, one of which still stands at Heliopolis, marking one of the oldest surviving obelisks in Egypt.<br><br>

                        <b>5. Legacy and Succession :</b><br>
                        - Senusret I's reign is often seen as a time of stability and prosperity. He was succeeded by his son, Amenemhat II, continuing the 12th Dynasty.<br>
                        - His contributions in architecture, governance, and religion had a lasting influence, and he is remembered as one of the most powerful and successful pharaohs of the Middle Kingdom.
                      </p>
                      <button type="button" class="btn btn-warning mt-5" (click)="collapse11.toggle()" [attr.aria-expanded]="!isCollapsed11" aria-controls="collapseExample11"> Click here to show and hide information </button>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>



