<div class="container pt-3">
    <div class="row" data-aos="fade-down"
    data-aos-easing="linear"
    data-aos-duration="1500">
        <h1>How can we use the application?</h1>
        <div class="col-lg-6 pt-2">
            <p>This program is specially designed to introduce Egyptians to their civilization and to introduce them to important ancient figures, archaeological sites, and the ancient method of writing. Here we will provide you with two ways to learn: the first way is reading, and the second way is learning through hearing and seeing 3D shapes.</p>
        </div>
    </div>

    <div class="row mt-1">
        <div class="col-lg-6 pt-5">
            <ul style="list-style-image: url('../../assets/img/crook.png');">
                <li data-aos="fade-up" data-aos-duration="3000">Open the website and then watch the entire video to learn how to use the website and the application.</li><br>
                <li data-aos="fade-up" data-aos-duration="3000">Click on the word Categories to choose the category you want to learn about.</li><br>
                <li data-aos="fade-up" data-aos-duration="3000">Log in if you have an account, and if you do not have an account, create a new account or register with your Facebook email or your email, etc.</li><br>
                <li data-aos="fade-up" data-aos-duration="3000">Choose if you want Reading or Augmented Reality.</li><br>
                <li data-aos="fade-up" data-aos-duration="3000">If you choose the reading section, you can choose whether you want to read about ancient figures or archaeological sites, and you can find out the place by clicking on the Google Maps sign or hieroglyphic letters.</li><br>
                <li data-aos="fade-up" data-aos-duration="3000">If you choose the augmented reality section, you can choose whether you want to hear and see ancient figures, archaeological sites, or hieroglyphic letters in 3D.</li>
            </ul>
        </div>

        <div class="col-lg-6 px-5" data-aos="zoom-in-left" data-aos-duration="3000">
            <iframe src="https://player.vimeo.com/video/137857207" title="Vimeo video" width="100%" height="600px" class="float-end" allowfullscreen></iframe>
        </div>
    </div>

    <div class="row" data-aos="fade-right" data-aos-duration="3000">
        <button class="btn btn-warning" routerLink="/about-us"><a href="https://drive.google.com/drive/folders/1XOWJ2JhuKIrFWWmxOCdNBpZkO-GPsw6O?dmr=1&ec=wgc-drive-hero-goto" class="text-decoration-none text-white">Download App</a></button>
    </div>

    <div class="row" data-aos="fade-right" data-aos-duration="3000">
        <button class="btn btn-warning mt-3" routerLink="/categories"><a class="text-decoration-none text-white">Categories</a></button>
    </div>
</div>

