<div class="container pt-5">
  <div class="card mb-3" data-aos="flip-left" data-aos-duration="3000">
      <img class="card-img-top" src="../../assets/img/pexels-martieda-17447963.jpg" alt="Card image cap" style="height: 500px;">
      <div class="card-body">
        <h5 class="card-title">Characters</h5>
        <p class="card-text">Here are the old characters and some information written about them.</p>
        <button class="btn btn-warning" routerLink="/characters2"> Let's Try</button>
      </div>
  </div>

  <div class="card mb-3" data-aos="flip-right" data-aos-duration="3000">
      <img class="card-img-top" src="../../assets/img/pexels-axp-photography-500641970-18991512.jpg" alt="Card image cap" style="height: 500px;">
      <div class="card-body">
        <h5 class="card-title">Places</h5>
        <p class="card-text">Here are some archaeological sites and some written information about them.</p>
        <button class="btn btn-warning" routerLink="/places2"> Let's Try</button>
      </div>
  </div>

  <div class="card mb-3" data-aos="flip-left" data-aos-duration="3000">
      <img class="card-img-top" src="../../assets/img/pexels-luisacastillo1029-7261883.jpg" alt="Card image cap" style="height: 500px;">
      <div class="card-body">
        <h5 class="card-title">Hieroglyphs</h5>
        <p class="card-text">Here are some hieroglyphs and some information written about them.</p>
        <button class="btn btn-warning" routerLink="/hieroglyphs2"> Let's Try</button>
      </div>
  </div>
</div>


<div class="Hieroglyphs" appAnimateOnScroll>
  <!-- Content here -->
</div>


