<div class="container pt-5">
    <div class="row">
        <div class="col-lg-6" data-aos="fade-right" data-aos-duration="3000">
            <div class="card mb-3">
                <img class="card-img-top" src="../../assets/img/DALL·E 2024-10-16 02.14.23 - An augmented reality scene of a reader holding a book or tablet on Egyptian history, where a 3D holographic pharaoh, such as Cleopatra or Ramses II, a.webp" alt="Reading">
                <div class="card-body">
                  <h5 class="card-title">Reading</h5>
                  <p class="card-text">Here you will find all the information you want about ancient figures (Pharaohs), archaeological sites and hieroglyphic letters written.</p>
                  <button class="btn btn-primary w-100" routerLink="/reading">Let's Try</button>
                </div>
            </div>
        </div>

        <div class="col-lg-6" data-aos="fade-left" data-aos-duration="3000">
            <div class="card mb-3">
                <img class="card-img-top" src="../../assets/img/DALL·E 2024-10-16 02.10.32 - Augmented reality scene showing a modern setting where an ancient Egyptian pharaoh, such as Ramses II, appears as a 3D hologram through a mobile devic.webp" alt="Augmented Reality">
                <div class="card-body">
                  <h5 class="card-title">Augmented Reality</h5>
                  <p class="card-text">Here you will find all the information you want about ancient figures (Pharaohs), archaeological sites and hieroglyphic letters in 3D.</p>
                  <button class="btn btn-primary w-100" routerLink="/listening">Let's Try</button>
                </div>
            </div>
        </div>
    </div>
</div>
