<div class="container pt-5">
    <div class="row">
        <div class="col-lg-6">
            <figure>
                <img src="../../assets/img/DALL·E 2024-10-14 21.19.33 - A detailed image of the ancient Egyptian hieroglyph representing an eagle, used in the Egyptian hieroglyphic alphabet as the letter 'A' or 'aleph'. Th.webp" class="img-fluid rounded-top" alt="Letter A" style="height: 500px; width: 500px;">
                <figcaption class="rounded-bottom">Letter "A"</figcaption>
            </figure>
        </div>

        <div class="col-lg-6">
            <figure>
                <img src="../../assets/img/DALL·E 2024-10-14 21.48.26 - A high-quality image of an ancient Egyptian hieroglyphic symbol of a snake, representing the sound 'S'. The symbol should be drawn in a traditional Eg.webp" class="img-fluid rounded-top" alt="Letter S" style="height: 500px; width: 500px;">
                <figcaption class="rounded-bottom">Letter "S"</figcaption>
            </figure>
        </div>
    </div>

    <div class="row pt-5">
        <div class="col-lg-6">
            <figure>
                <img src="../../assets/img/DALL·E 2024-10-14 21.56.47 - A detailed depiction of an ancient Egyptian hieroglyphic symbol representing an arm (pronounced 'ah' or 'a'). The symbol shows a stylized human arm wi.webp" class="img-fluid rounded-top" alt="Letter W" style="height: 500px; width: 500px;">
                <figcaption class="rounded-bottom">Letter "W"</figcaption>
            </figure>
        </div>

        <div class="col-lg-6">
            <figure>
                <img src="../../assets/img/DALL·E 2024-10-15 15.23.38 - A detailed depiction of the Egyptian hieroglyph for the sound 'w', represented by a quail chick (Coturnix coturnix). The symbol shows a side profile o.webp" class="img-fluid rounded-top" alt="Letter AA" style="height: 500px; width: 500px;">
                <figcaption class="rounded-bottom">Letter "AA"</figcaption>
            </figure>
        </div>
    </div>

    <div class="row pt-5">
        <div class="col-lg-6">
            <figure>
                <img src="../../assets/img/DALL·E 2024-10-15 15.36.16 - An ancient Egyptian hieroglyph symbol representing the letter 'H', which resembles a twisted thread or rope. The hieroglyph is intricately detailed, w.webp" class="img-fluid rounded-top" alt="Letter H" style="height: 500px; width: 500px;">
                <figcaption class="rounded-bottom">Letter "H"</figcaption>
            </figure>
        </div>

        <div class="col-lg-6">
            <figure>
                <img src="../../assets/img/DALL·E 2024-10-15 15.38.59 - An ancient Egyptian hieroglyph symbol representing the letter 'N', resembling a wavy line or water wave. The hieroglyph has a fluid, flowing design wi.webp" class="img-fluid rounded-top" alt="Mortuary Temple of Hatshepsut" style="height: 500px; width: 500px;">
                <figcaption class="rounded-bottom">Letter "N"</figcaption>
            </figure>
        </div>
    </div>

    <div class="row pt-5">
        <div class="col-lg-6">
            <figure>
                <img src="../../assets/img/DALL·E 2024-10-15 15.43.13 - An ancient Egyptian hieroglyph representing the letter 'M', depicted as a stylized owl. The owl has a rounded head, large eyes, and a beak, with its w.webp" class="img-fluid rounded-top" alt="Edfu Temple of Horus" style="height: 500px; width: 500px;">
                <figcaption class="rounded-bottom">Letter "M"</figcaption>
            </figure>
        </div>

        <div class="col-lg-6">
            <figure>
                <img src="../../assets/img/DALL·E 2024-10-15 06.32.35 - A detailed depiction of the Egyptian hieroglyphic symbol 'reed' (𓇋) which resembles a straight, vertical reed with slight curves at the edges, repres.webp" class="img-fluid rounded-top" alt="Abu Simbel Temples" style="height: 500px; width: 500px;">
                <figcaption class="rounded-bottom">Letter "I" OR "Y"</figcaption>
            </figure>
        </div>
    </div>

    <div class="row pt-5">
        <div class="col-lg-6">
            <figure>
                <img src="../../assets/img/DALL·E 2024-10-15 06.37.18 - A detailed depiction of the Egyptian hieroglyph 'she', representing a plant bud or shoot. The hieroglyph should resemble a vertical reed or plant stem.webp" class="img-fluid rounded-top" alt="Pyramid of Djoser" style="height: 500px; width: 500px;">
                <figcaption class="rounded-bottom">Letter "SH"</figcaption>
            </figure>
        </div>

        <div class="col-lg-6">
            <figure>
                <img src="../../assets/img/DALL·E 2024-10-15 06.38.40 - A detailed representation of the Egyptian hieroglyph symbol for the snake or serpent, often associated with the letter 'D' or 'J'. The symbol should s.webp" class="img-fluid rounded-top" alt="Philae Island" style="height: 500px; width: 500px;">
                <figcaption class="rounded-bottom">Letter "F"</figcaption>
            </figure>
        </div>
    </div>

    <div class="row pt-5">
        <div class="col-lg-6">
            <figure>
                <img src="../../assets/img/DALL·E 2024-10-15 16.50.04 - A depiction of an ibis bird, represented as a hieroglyphic symbol. The ibis should be stylized in ancient Egyptian art form, with its curved beak and .webp" class="img-fluid rounded-top" alt="Dahshur" style="height: 500px; width: 500px;">
                <figcaption class="rounded-bottom">Letter "B"</figcaption>
            </figure>
        </div>

        <div class="col-lg-6">
            <figure>
                <img src="../../assets/img/DALL·E 2024-10-15 16.56.22 - A detailed depiction of the hieroglyphic symbol for 'mat' or 'reed mat', a rectangular shape resembling a woven reed or straw mat. The symbol should b.webp" class="img-fluid rounded-top" alt="Amarna" style="height: 500px; width: 500px;">
                <figcaption class="rounded-bottom">Letter "B"</figcaption>
            </figure>
        </div>
    </div>

    <div class="row pt-5">
        <div class="col-lg-6">
            <figure>
                <img src="../../assets/img/DALL·E 2024-10-15 16.56.00 - A detailed depiction of the ancient Egyptian hieroglyph representing the 'kh' sound, symbolized by the head of a scarab beetle. The symbol should be d.webp" class="img-fluid rounded-top" alt="Dahshur" style="height: 500px; width: 500px;">
                <figcaption class="rounded-bottom">Letter "KH"</figcaption>
            </figure>
        </div>

        <div class="col-lg-6">
            <figure>
                <img src="../../assets/img/DALL·E 2024-10-15 17.08.08 - A detailed depiction of an Egyptian hieroglyphic symbol representing a sand hill or mound. The symbol should resemble a small hill with a slightly poi.webp" class="img-fluid rounded-top" alt="Amarna" style="height: 500px; width: 500px;">
                <figcaption class="rounded-bottom">Letter "K"</figcaption>
            </figure>
        </div>
    </div>

    <div class="row pt-5">
        <div class="col-lg-6">
            <figure>
                <img src="../../assets/img/DALL·E 2024-10-15 17.10.33 - A detailed illustration of the Egyptian hieroglyphic symbol 'Djed', representing a cobra (known as 'Dj') in ancient hieroglyphic script. The image sho.webp" class="img-fluid rounded-top" alt="Dahshur" style="height: 500px; width: 500px;">
                <figcaption class="rounded-bottom">Letter "DJ"</figcaption>
            </figure>
        </div>

        <div class="col-lg-6">
            <figure>
                <img src=".../../assets/img/DALL·E 2024-10-15 17.11.52 - The Egyptian hieroglyph representing the letter 'H' (house), depicted as a simplified square-shaped structure resembling a house or building with a fl.webp" class="img-fluid rounded-top" alt="Amarna" style="height: 500px; width: 500px;">
                <figcaption class="rounded-bottom">Letter "H"</figcaption>
            </figure>
        </div>
    </div>

    <div class="row pt-5">
        <div class="col-lg-6">
            <figure>
                <img src="../../assets/img/DALL·E 2024-10-15 17.12.59 - A hieroglyphic symbol representing the letter 'T', styled as a knotted rope, common in ancient Egyptian writing. The symbol should have a clear, tradi.webp" class="img-fluid rounded-top" alt="Dahshur" style="height: 500px; width: 500px;">
                <figcaption class="rounded-bottom">Letter "T"</figcaption>
            </figure>
        </div>

        <div class="col-lg-6">
            <figure>
                <img src="../../assets/img/DALL·E 2024-10-15 17.21.47 - An ancient Egyptian hieroglyph representing the symbol 'sʽw' (the door or gate). The hieroglyph should appear as a rectangular shape resembling a door.webp" class="img-fluid rounded-top" alt="Amarna" style="height: 500px; width: 500px;">
                <figcaption class="rounded-bottom">Letter "SW"</figcaption>
            </figure>
        </div>
    </div>

    <div class="row pt-5">
        <div class="col-lg-6">
            <figure>
                <img src="../../assets/img/DALL·E 2024-10-15 17.22.54 - An ancient Egyptian hieroglyphic symbol representing the letter 'R', designed as an open human mouth. The symbol should have the classic style of anci.webp" class="img-fluid rounded-top" alt="Dahshur" style="height: 500px; width: 500px;">
                <figcaption class="rounded-bottom">Letter "R"</figcaption>
            </figure>
        </div>

        <div class="col-lg-6">
            <figure>
                <img src="../../assets/img/DALL·E 2024-10-15 17.24.26 - A detailed depiction of the hieroglyphic symbol for the word 'Ka,' which resembles a fish, crafted in ancient Egyptian style. The design should mimic .webp" class="img-fluid rounded-top" alt="Amarna" style="height: 500px; width: 500px;">
                <figcaption class="rounded-bottom">Letter "KA"</figcaption>
            </figure>
        </div>
    </div>

    <div class="row pt-5">
        <div class="col-lg-6">
            <figure>
                <img src="../../assets/img/DALL·E 2024-10-15 07.42.14 - A simple hieroglyphic symbol representing a straight line, which signifies a numerical value or measurement. The symbol is minimalist, with a clear, v.webp" class="img-fluid rounded-top" alt="Dahshur" style="height: 500px; width: 500px;">
                <figcaption class="rounded-bottom">Used as a unit of measurement.</figcaption>
            </figure>
        </div>

        <div class="col-lg-6">
            <figure>
                <img src="../../assets/img/DALL·E 2024-10-15 07.43.24 - A detailed depiction of the Egyptian hieroglyph symbol representing the scepter of power, known as the 'was' symbol. The image shows the scepter with .webp" class="img-fluid rounded-top" alt="Amarna" style="height: 500px; width: 500px;">
                <figcaption class="rounded-bottom">The Scepter of Power, also known as the "Kan" symbol.</figcaption>
            </figure>
        </div>
    </div>

    <div class="row pt-5">
        <div class="col-lg-6">
            <figure>
                <img src="../../assets/img/DALL·E 2024-10-15 07.44.43 - An ancient Egyptian hieroglyph representing a village or city. The symbol consists of a circular or oval shape representing the boundary or walls of t.webp" class="img-fluid rounded-top" alt="Dahshur" style="height: 500px; width: 500px;">
                <figcaption class="rounded-bottom">Representing a village in Kitty.</figcaption>
            </figure>
        </div>

        <div class="col-lg-6">
            <figure>
                <img src="../../assets/img/Gemini_Generated_Image_6q0gyd6q0gyd6q0g.jfif" class="img-fluid rounded-top" alt="Amarna" style="height: 500px; width: 500px;">
                <figcaption class="rounded-bottom">The man symbol used to indicate people or titles.</figcaption>
            </figure>
        </div>
    </div>
</div>
