<div class="container pt-5">
    <div class="row">
        <div class="col-lg-6" data-aos="fade-right" data-aos-duration="3000">
            <figure>
                <img src="../../assets/img/Akhenaten.jfif" class="img-fluid rounded-top" alt="Akhenaten" style="height: 500px; width: 500px;">
                <figcaption class="rounded-bottom">Akhenaten</figcaption>
            </figure>
        </div>

        <div class="col-lg-6" data-aos="fade-left" data-aos-duration="3000">
            <figure>
                <img src="../../assets/img/Hatshepsut.jpg" class="img-fluid rounded-top" alt="Hatshepsut" style="height: 500px; width: 500px;">
                <figcaption class="rounded-bottom">Hatshepsut</figcaption>
            </figure>
        </div>
    </div>

    <div class="row pt-5">
        <div class="col-lg-6" data-aos="fade-right" data-aos-duration="3000">
            <figure>
                <img src="../../assets/img/Ramses_II.jpg" class="img-fluid rounded-top" alt="Ramesses II" style="height: 500px; width: 500px;">
                <figcaption class="rounded-bottom">Ramesses II</figcaption>
            </figure>
        </div>

        <div class="col-lg-6" data-aos="fade-left" data-aos-duration="3000">
            <figure>
                <img src="../../assets/img/Tutankhamun.jfif" class="img-fluid rounded-top" alt="Tutankhamun" style="height: 500px; width: 500px;">
                <figcaption class="rounded-bottom">Tutankhamun</figcaption>
            </figure>
        </div>
    </div>

    <div class="row pt-5">
        <div class="col-lg-6" data-aos="fade-right" data-aos-duration="3000">
            <figure>
                <img src="../../assets/img/Ahmose_I.png" class="img-fluid rounded-top" alt="Ahmose I" style="height: 500px; width: 500px;">
                <figcaption class="rounded-bottom">Ahmose I</figcaption>
            </figure>
        </div>

        <div class="col-lg-6" data-aos="fade-left" data-aos-duration="3000">
            <figure>
                <img src="../../assets/img/Amenhotep_III.jpg" class="img-fluid rounded-top" alt="Amenhotep III" style="height: 500px; width: 500px;">
                <figcaption class="rounded-bottom">Amenhotep III</figcaption>
            </figure>
        </div>
    </div>

    <div class="row pt-5">
        <div class="col-lg-6" data-aos="fade-right" data-aos-duration="3000">
            <figure>
                <img src="../../assets/img/Nefertiti.jpg" class="img-fluid rounded-top" alt="Nefertiti" style="height: 500px; width: 500px;">
                <figcaption class="rounded-bottom">Nefertiti</figcaption>
            </figure>
        </div>

        <div class="col-lg-6" data-aos="fade-left" data-aos-duration="3000">
            <figure>
                <img src="../../assets/img/Imhotep.jfif" class="img-fluid rounded-top" alt="Imhotep" style="height: 500px; width: 500px;">
                <figcaption class="rounded-bottom">Imhotep</figcaption>
            </figure>
        </div>
    </div>

    <div class="row pt-5">
        <div class="col-lg-6" data-aos="fade-right" data-aos-duration="3000">
            <figure>
                <img src="../../assets/img/Isis.jpg" class="img-fluid rounded-top" alt="Isis" style="height: 500px; width: 500px;">
                <figcaption class="rounded-bottom">Isis</figcaption>
            </figure>
        </div>

        <div class="col-lg-6" data-aos="fade-left" data-aos-duration="3000">
            <figure>
                <img src="../../assets/img/Khafre.jpg" class="img-fluid rounded-top" alt="Khafre" style="height: 500px; width: 500px;">
                <figcaption class="rounded-bottom">Khafre</figcaption>
            </figure>
        </div>
    </div>

    <div class="row pt-5">
        <div class="col-lg-6" data-aos="fade-right" data-aos-duration="3000">
            <figure>
                <img src="../../assets/img/Menkaure.jpg" class="img-fluid rounded-top" alt="Menkaure" style="height: 500px; width: 500px;">
                <figcaption class="rounded-bottom">Menkaure</figcaption>
            </figure>
        </div>

        <div class="col-lg-6" data-aos="fade-left" data-aos-duration="3000">
            <figure>
                <img src="../../assets/img/Ramesses III.jpg" class="img-fluid rounded-top" alt="Ramesses III" style="height: 500px; width: 500px;">
                <figcaption class="rounded-bottom">Ramesses III</figcaption>
            </figure>
        </div>
    </div>
</div>




