<div class="container pt-5">
    <div class="row">
        <div class="col-lg-6" data-aos="zoom-in-right" data-aos-duration="3000">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="../../assets/img/The pyramids.jpg" class="img-fluid rounded-start" alt="The pyramids" style="height: 250px; width: 200px;">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title pt-3 text-center ">The pyramids</h5>
                      <p class="card-text text-align-justify" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed" [horizontal]="true">
                        The Pyramids of Egypt are among the most iconic structures in the world, primarily built as tombs for pharaohs and important figures of ancient Egypt. Here’s a quick breakdown of key points about the pyramids:<br><br>

                        <b>1. The Great Pyramids of Giza :</b><br>
                        <b>- Location:</b> Giza Plateau, near Cairo.<br>
                        <b>- Main Structures:</b> The Giza complex includes three main pyramids: the Pyramid of Khufu (also called the Great Pyramid), the Pyramid of Khafre, and the Pyramid of Menkaure.<br>
                        <b>- Great Pyramid of Khufu:</b> It is the largest, originally standing at 146.6 meters (481 feet) but now 138.8 meters due to erosion. It was built around 2580–2560 BCE during the Fourth Dynasty.<br>
                        <b>- Construction:</b> Made from millions of limestone and granite blocks, some weighing up to 15 tons each. It’s believed that ramps and a vast workforce were employed in the construction.<br><br>

                        <b>2. Symbolism and Purpose :</b><br>
                        - The pyramids served as royal tombs and were considered places for the soul of the deceased pharaoh to ascend to the afterlife.<br>
                        - Their shape represents the primordial mound from which the ancient Egyptians believed life emerged, with sides sloping towards the heavens to symbolize the sun's rays, linking the pharaoh with the sun god Ra.<br><br>

                        <b>3. Mysteries and Theories :</b><br>
                        - Many mysteries surround the construction techniques due to the precision achieved without modern technology.<br>
                        - Theories range from ramps to possible pulleys, though there’s no definitive answer. The workforce was likely a mix of skilled laborers, farmers (working during flooding), and seasonal labor rather than slaves.<br><br>

                        <b>4. Pyramid Complexes Beyond Giza :</b><br>
                        - Egypt has over 100 pyramids, with some predating those at Giza.<br>
                        - The <b>Step Pyramid of Djoser</b> in Saqqara is one of the earliest, built around 2670 BCE by the architect Imhotep. It shows the evolution from simple mastaba tombs to a six-tiered, pyramid-shaped structure.<br><br>

                        <b>5. Significance Today :</b><br>
                        - The pyramids are UNESCO World Heritage Sites and remain a key part of Egypt's cultural identity and tourism industry.<br>
                        - They continue to inspire awe due to their massive scale, architectural sophistication, and the cultural insights they offer into ancient Egyptian civilization.
                      </p>
                      <button type="button" class="btn btn-warning mt-5 w-100" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample"> Click here to show and hide information </button>
                      <div class="d-flex justify-content-center">
                        <a routerLink="/pyramids"><img src="../../assets/img/GoogleMaps-Icon-alone-1.webp" style="width: 50px; height: 50px; border-radius: 50%;" class="mt-3"></a>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6" data-aos="zoom-in-left" data-aos-duration="3000">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="../../assets/img/Sphinx.jpg" class="img-fluid rounded-start" alt="Sphinx" style="height: 250px; width: 200px;">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title pt-3 text-center ">Great Sphinx of Giza</h5>
                      <p class="card-text text-align-justify" #collapse1="ngbCollapse" [(ngbCollapse)]="isCollapsed1" [horizontal]="true">
                        The Great Sphinx of Giza is one of the most iconic monuments of ancient Egypt and a symbol of its rich cultural heritage. Here are some key points about the Sphinx:<br><br>

                        <b>General Information :</b><br>
                        <b>- Location:</b> Giza Plateau, near Cairo, Egypt.<br>
                        <b>- Date of Construction:</b> It is believed to have been built during the reign of the Pharaoh Khafre, around 2500 BC, making it over 4,500 years old.<br>
                        <b>- Dimensions:</b> The Sphinx is approximately 20 meters (66 feet) high and 73 meters (240 feet) long, making it the largest monolithic statue in the world.<br><br>

                        <b>Design and Features :</b><br>
                        <b>- Appearance:</b> The Sphinx has the body of a lion and the head of a human, which is thought to represent Khafre. Its facial features are considered to be an idealized representation of the pharaoh.<br>
                        <b>- Materials: </b>The statue is carved from limestone, and its original surface was likely covered in a fine layer of plaster, which has since eroded.<br><br>

                        <b>Historical Significance :</b><br>
                        - Cultural Symbol: The Sphinx is a symbol of strength and wisdom and has become a central figure in Egyptian mythology. It is often associated with the sun god Ra and is believed to guard the Giza pyramids.<br>
                        - Preservation and Restoration: Over the centuries, the Sphinx has suffered damage from natural erosion, human activity, and environmental factors. Various restoration efforts have been made, particularly in the 20th century.<br><br>

                        <b>Mysteries and Theories :</b><br>
                        - Purpose: The exact purpose of the Sphinx remains a topic of debate among historians and archaeologists. Some theories suggest it served as a guardian for the pyramids, while others propose it was part of a larger temple complex.<br>
                        - Hidden Chambers: Some researchers believe there may be undiscovered chambers or tunnels beneath the Sphinx, though no definitive evidence has been found.<br><br>

                        <b>Tourism :</b><br>
                        - Cultural Heritage Site: The Sphinx, along with the Pyramids of Giza, is a UNESCO World Heritage Site and attracts millions of tourists each year.<br><br>

                        The Great Sphinx continues to be a subject of fascination and study, representing one of the greatest achievements of ancient engineering and artistry.
                      </p>
                      <button type="button" class="btn btn-warning mt-5 w-100" (click)="collapse1.toggle()" [attr.aria-expanded]="!isCollapsed1" aria-controls="collapseExample1"> Click here to show and hide information </button>
                      <div class="d-flex justify-content-center">
                        <a routerLink="/sphinx"><img src="../../assets/img/GoogleMaps-Icon-alone-1.webp" style="width: 50px; height: 50px; border-radius: 50%;" class="mt-3"></a>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-6" data-aos="zoom-in-right" data-aos-duration="3000">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="../../assets/img/Valley of the Kings.jpg" class="img-fluid rounded-start" alt="Valley of the Kings" style="height: 250px; width: 200px;">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title pt-3 text-center ">Valley of the Kings</h5>
                      <p class="card-text text-align-justify" #collapse2="ngbCollapse" [(ngbCollapse)]="isCollapsed2" [horizontal]="true">
                        The Valley of the Kings, located on the west bank of the Nile near Luxor, Egypt, is one of the most famous archaeological sites in the world. Here are some key points about it:<br><br>

                        <b>Overview :</b><br>
                        <b>- Historical Significance:</b> The Valley served as the burial site for many pharaohs and powerful nobles of the New Kingdom (circa 1550–1070 BC). It was chosen for its hidden location, away from the prying eyes of tomb robbers.<br>
                        <b>- Tombs:</b> There are over 60 known tombs in the valley, the most famous being that of Tutankhamun, which was discovered intact in 1922 by Howard Carter. Other notable tombs include those of Ramses II and Seti I.<br>
                        <b>- Architecture and Art:</b> The tombs are renowned for their intricate designs and stunning wall paintings, which depict scenes from mythology, the afterlife, and the journey to the afterworld. These artworks offer valuable insights into ancient Egyptian beliefs and practices.<br><br>

                        <b>Geography :</b><br>
                        <b>- Location</b>: The valley is situated near the city of Luxor, which was once the ancient city of Thebes, the capital of Egypt during the New Kingdom.<br>
                        <b>- Geology:</b> The area features rugged hills and a dry climate, which has helped preserve the tombs over the millennia. The limestone cliffs provide a natural barrier against erosion and environmental factors.<br><br>

                        <b>Discoveries and Excavations :</b><br>
                        <b>- Archaeological Efforts:</b> The Valley of the Kings has been a focal point for archaeologists since the 19th century. Continuous excavations have led to the discovery of many artifacts, mummies, and hieroglyphs, significantly enhancing our understanding of ancient Egyptian civilization.<br>
                        <b>- Conservation:</b> Ongoing conservation efforts aim to protect the tombs from damage caused by tourism, humidity, and pollution. Measures include controlled access to certain tombs and climate control within others.<br><br>

                        <b>Tourism :</b><br>
                        <b>- Visiting:</b> The Valley of the Kings is a popular tourist destination, attracting millions of visitors each year. Some tombs require additional fees for entry, and guided tours are often recommended to fully appreciate the historical context and significance.<br>
                        <b>- Cultural Impact:</b> The valley has been the subject of numerous documentaries, books, and films, cementing its status as a symbol of ancient Egypt.<br><br>

                        The Valley of the Kings remains a key site for understanding the culture, religion, and artistry of ancient Egyptian civilization.
                      </p>
                      <button type="button" class="btn btn-warning mt-5 w-100" (click)="collapse2.toggle()" [attr.aria-expanded]="!isCollapsed2" aria-controls="collapseExample2"> Click here to show and hide information </button>
                      <div class="d-flex justify-content-center">
                        <a routerLink="/Valley_of_the_Kings"><img src="../../assets/img/GoogleMaps-Icon-alone-1.webp" style="width: 50px; height: 50px; border-radius: 50%;" class="mt-3"></a>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6" data-aos="zoom-in-left" data-aos-duration="3000">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="../../assets/img/Karnak.jpg" class="img-fluid rounded-start" alt="Karnak" style="height: 250px; width: 200px;">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title pt-3 text-center ">Karnak</h5>
                      <p class="card-text text-align-justify" #collapse3="ngbCollapse" [(ngbCollapse)]="isCollapsed3" [horizontal]="true">
                        Karnak is one of the most significant and impressive ancient temple complexes in Egypt, located near Luxor. Here’s a brief overview of its key features and historical significance:<br><br>

                        <b>Historical Background :</b><br>
                        <b>- Location:</b> Karnak is situated about 2.5 kilometers north of Luxor, along the Nile River.<br>
                        <b>- History:</b> The site was a major religious center dedicated primarily to the Theban triad of Amun, Mut, and Khonsu. Its construction began during the Middle Kingdom (around 2000 BC) and continued into the Ptolemaic period (around 30 BC).<br>
                        <b>- Significance:</b> Karnak was a crucial center of worship for the ancient Egyptians and served as a site for many religious festivals, particularly the Opet Festival, which celebrated the fertility of the Nile.<br><br>

                        <b>Key Features :</b><br>
                        <b>- The Great Temple of Amun :</b> This is the most famous part of the complex, built primarily during the New Kingdom. It features grand halls, towering columns, and intricate hieroglyphics.<br>
                        <b>- Hypostyle Hall:</b> One of the largest halls in any religious building, it has 134 massive columns, each covered with beautiful carvings and hieroglyphs.<br>
                        <b>- Sacred Lake:</b> A large lake used for rituals, symbolizing the primordial waters from which life emerged.<br>
                        <b>- Obelisks and Statues:</b> The complex contains several obelisks, including a large one erected by Pharaoh Hatshepsut, and numerous statues of deities and pharaohs.<br><br>

                        <b>Architecture and Art :</b><br>
                        <b>- Carvings and Inscriptions:</b> The walls of Karnak are adorned with elaborate carvings and inscriptions that depict various pharaohs, gods, and significant events, providing insight into ancient Egyptian culture and religion.<br>
                        <b>- Reliefs:</b> Many reliefs depict scenes of battles, offerings, and daily life, reflecting the beliefs and values of ancient Egyptians.<br><br>

                        <b>Archaeological Significance :</b><br>
                        <b>- Research and Restoration:</b> Karnak is a UNESCO World Heritage Site and continues to be an important site for archaeological research and restoration efforts, helping historians understand the complexity of ancient Egyptian civilization.<br><br>

                        <b>Visitor Information :</b><br>
                        <b>- Access:</b> Karnak is one of the most visited tourist attractions in Egypt, often included in itineraries along with the nearby Valley of the Kings and the Temple of Luxor.<br>
                        <b>- Timing:</b> The best time to visit is during the cooler months, from October to April, to avoid the extreme heat of summer.<br><br>

                        Karnak is not just an archaeological site; it’s a monument to the grandeur of ancient Egyptian civilization, attracting millions of visitors eager to explore its historical and cultural significance.
                      </p>
                      <button type="button" class="btn btn-warning mt-5 w-100" (click)="collapse3.toggle()" [attr.aria-expanded]="!isCollapsed3" aria-controls="collapseExample3"> Click here to show and hide information </button>
                      <div class="d-flex justify-content-center">
                        <a routerLink="/karnak"><img src="../../assets/img/GoogleMaps-Icon-alone-1.webp" style="width: 50px; height: 50px; border-radius: 50%;" class="mt-3"></a>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6" data-aos="zoom-in-right" data-aos-duration="3000">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="../../assets/img/Luxor Temple.jpg" class="img-fluid rounded-start" alt="Luxor Temple" style="height: 250px; width: 200px;">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title pt-3 text-center ">Luxor Temple</h5>
                      <p class="card-text text-align-justify" #collapse4="ngbCollapse" [(ngbCollapse)]="isCollapsed4" [horizontal]="true">
                        Luxor Temple is one of the most impressive and well-preserved ancient monuments in Egypt, located on the east bank of the Nile River in the city of Luxor. Here are some key details:<br><br>

                        <b>Historical Significance :</b><br>
                        <b>- Construction:</b> Luxor Temple was constructed during the reign of Amenhotep III in the 14th century BCE and was later expanded by Ramses II.<br>
                        <b>- Purpose:</b> The temple was primarily dedicated to the Theban triad of gods: Amun, Mut, and Khonsu. It served as a center for religious activities and a site for festivals, particularly the Opet Festival, which celebrated the annual flooding of the Nile.<br><br>

                        <b>Architectural Features :</b><br>
                        <b>- Layout:</b> The temple complex is characterized by its massive entrance (pylon), colonnades, and a series of courts. The most famous part of the temple is the Great Hypostyle Hall, featuring a row of towering columns with intricate carvings.<br>
                        <b>- Obelisks:</b> Originally, the temple had two obelisks, but only one remains on-site today; the other was transported to Paris and is located at the Place de la Concorde.<br>
                        <b>- Statues and Reliefs:</b> The temple is adorned with numerous statues, including those of Ramses II, and reliefs depicting various religious rituals and historical events.<br><br>

                        <b>Cultural Importance :</b><br>
                        <b>- Symbol of Thebes:</b> Luxor Temple, along with Karnak Temple, forms part of the ancient city of Thebes, which was the capital of Egypt during the New Kingdom period.<br>
                        <b>- UNESCO World Heritage Site:</b> In 1979, Luxor Temple was designated a UNESCO World Heritage Site as part of the larger "Ancient Thebes with its Necropolis."<br><br>

                        <b>Modern Day :</b><br>
                        <b>- Tourism:</b> Today, Luxor Temple is a major tourist attraction, drawing visitors for its stunning architecture, rich history, and beautiful nighttime illuminations.<br>
                        <b>- Restoration Efforts:</b> Ongoing restoration projects aim to preserve the temple's structure and its intricate hieroglyphics.<br><br>

                        Visitors often combine a trip to Luxor Temple with nearby attractions, such as Karnak Temple and the Valley of the Kings, making it a key stop on the Egyptian tourist trail.
                      </p>
                      <button type="button" class="btn btn-warning mt-5 w-100" (click)="collapse4.toggle()" [attr.aria-expanded]="!isCollapsed4" aria-controls="collapseExample24"> Click here to show and hide information </button>
                      <div class="d-flex justify-content-center">
                        <a routerLink="/luxor_temple"><img src="../../assets/img/GoogleMaps-Icon-alone-1.webp" style="width: 50px; height: 50px; border-radius: 50%;" class="mt-3"></a>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6" data-aos="zoom-in-left" data-aos-duration="3000">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="../../assets/img/Mortuary Temple of Hatshepsut.jpg" class="img-fluid rounded-start" alt="Mortuary Temple of Hatshepsut" style="height: 250px; width: 200px;">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title pt-3 text-center ">Temple of Hatshepsut</h5>
                      <p class="card-text text-align-justify" #collapse5="ngbCollapse" [(ngbCollapse)]="isCollapsed5" [horizontal]="true">
                        The Mortuary Temple of Hatshepsut, located near Luxor, Egypt, is one of the most impressive architectural achievements of ancient Egypt. Here are some key points about the temple:<br><br>

                        <b>Historical Background :</b><br>
                        - Built for Hatshepsut: The temple was constructed for Pharaoh Hatshepsut, who reigned from approximately 1479 to 1458 BCE. She is one of the few female pharaohs in ancient Egypt and is notable for her successful reign and ambitious building projects.<br>
                        - Architect: The temple was designed by the royal architect Senenmut, who was also a trusted advisor to Hatshepsut.<br><br>

                        <b>Architecture :</b><br>
                        <b>- Location:</b> The temple is situated at Deir el-Bahari, on the west bank of the Nile River, adjacent to the Valley of the Kings.<br>
                        <b>- Design:</b> The temple features a terraced structure with three main levels, connected by ramps and adorned with colonnades. The architecture blends harmoniously with the surrounding cliffs, creating a stunning visual effect.<br>
                        <b>- Reliefs and Statues:</b> The walls of the temple are decorated with reliefs that depict Hatshepsut’s life, her divine birth, and her trading expeditions, particularly to the Land of Punt, which was known for its wealth and resources.<br><br>

                        <b>Significance :</b><br>
                        <b>- Religious Importance:</b> The temple was dedicated to the worship of the sun god Amun-Ra and served as a place for Hatshepsut's mortuary cult. It played a significant role in the religious practices of ancient Egypt.<br>
                        <b>- Political Symbolism:</b> Hatshepsut used the temple to legitimize her rule and showcase her accomplishments, emphasizing her role as a female pharaoh in a male-dominated society.<br><br>

                        <b>Archaeological Findings :</b><br>
                        <b>- Rediscovery:</b> The temple was largely forgotten for centuries until it was rediscovered in the 19th century. Excavations revealed numerous artifacts, including statues and inscriptions that provide insight into Hatshepsut’s reign.<br>
                        <b>- Damage and Restoration:</b> Over the years, the temple suffered damage from natural erosion and human activity. Restoration efforts have been undertaken to preserve the site and its intricate decorations.<br><br>

                        <b>Visitor Experience :</b><br>
                        <b>- Tourism:</b> Today, the Mortuary Temple of Hatshepsut is a popular tourist attraction, known for its architectural beauty and historical significance. Visitors can explore the terraces, view the reliefs, and appreciate the artistry of ancient Egyptian culture.<br><br>

                        The Mortuary Temple of Hatshepsut stands as a testament to the architectural and cultural achievements of ancient Egypt, reflecting the life and legacy of one of its most remarkable rulers.
                      </p>
                      <button type="button" class="btn btn-warning mt-5 w-100" (click)="collapse5.toggle()" [attr.aria-expanded]="!isCollapsed5" aria-controls="collapseExample5"> Click here to show and hide information </button>
                      <div class="d-flex justify-content-center">
                        <a routerLink="/temple_of_hatshepsut"><img src="../../assets/img/GoogleMaps-Icon-alone-1.webp" style="width: 50px; height: 50px; border-radius: 50%;" class="mt-3"></a>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6" data-aos="zoom-in-right" data-aos-duration="3000">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="../../assets/img/Edfu Temple of Horus.jpg" class="img-fluid rounded-start" alt="Edfu Temple of Horus" style="height: 250px; width: 200px;">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title pt-3 text-center ">Edfu Temple</h5>
                      <p class="card-text text-align-justify" #collapse6="ngbCollapse" [(ngbCollapse)]="isCollapsed6" [horizontal]="true">
                        The Temple of Horus at Edfu, located in Upper Egypt, is one of the best-preserved ancient Egyptian temples. Built between 237 and 57 BCE during the Ptolemaic Dynasty, this temple was dedicated to Horus, the falcon-headed god of kingship and the sky. Here are some key points about this remarkable temple:<br><br>

                        <b>1. Architecture and Layout :</b><br>
                           - The temple follows the traditional Egyptian temple layout, with a massive pylon entrance, a courtyard, a hypostyle hall (columned hall), and several smaller inner chambers leading to the sanctuary.<br>
                           - The pylon at the entrance stands around 36 meters (118 feet) high, decorated with reliefs that depict Ptolemaic rulers fighting Egypt’s enemies alongside Horus.<br>
                           - The sanctuary houses a granite shrine where a statue of Horus likely once stood.<br><br>
                        
                        <b>2. Reliefs and Inscriptions :</b><br>
                           - The walls are covered with detailed reliefs and hieroglyphic inscriptions depicting religious rituals, festivals, and mythological scenes, especially of Horus's battles with the god Seth.<br>
                           - One famous set of reliefs shows the "Sacred Drama of Edfu," detailing the annual victory celebration of Horus over Seth, symbolizing the triumph of good over evil.<br><br>
                        
                        <b>3. Ptolemaic Influence :</b><br>
                           - Though the temple is in the ancient Egyptian style, it was constructed under Greek Ptolemaic rule. Greek influence can be seen in some stylistic choices, yet the structure and symbolism remain largely Egyptian.<br>
                           - The Ptolemies promoted traditional Egyptian religion to legitimize their rule, making Edfu Temple both a religious and political monument.<br><br>
                        
                        <b>4. Astronomical Alignment and Symbolism :</b><br>
                           - The temple's axis aligns with specific astronomical phenomena, representing the connection between heaven and earth.<br>
                           - Horus’s association with the sky is emphasized through the architecture and reliefs, underscoring his role as the protector of Egypt and its pharaohs.<br><br>
                        
                        <b>5. Rediscovery and Preservation :</b><br>
                           - The temple was buried under sand and debris for centuries, preserving much of its structure.<br>
                           - Excavations in the 19th century revealed the temple, making it one of the best-preserved temples in Egypt and a valuable source for understanding ancient Egyptian religion and architecture.<br><br>
                        
                        The Temple of Horus is a popular tourist site today and is considered one of the finest examples of ancient Egyptian temple architecture.
                      </p>
                      <button type="button" class="btn btn-warning mt-5 w-100" (click)="collapse6.toggle()" [attr.aria-expanded]="!isCollapsed6" aria-controls="collapseExample6"> Click here to show and hide information </button>
                      <div class="d-flex justify-content-center">
                        <a routerLink="/edfu"><img src="../../assets/img/GoogleMaps-Icon-alone-1.webp" style="width: 50px; height: 50px; border-radius: 50%;" class="mt-3"></a>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6" data-aos="zoom-in-left" data-aos-duration="3000">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="../../assets/img/Abu Simbel.jpg" class="img-fluid rounded-start" alt="Abu Simbel Temples" style="height: 250px; width: 200px;">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title pt-3 text-center ">Abu Simbel Temple</h5>
                      <p class="card-text text-align-justify" #collapse7="ngbCollapse" [(ngbCollapse)]="isCollapsed7" [horizontal]="true">
                        The Abu Simbel Temples are two massive rock temples located in southern Egypt, near the border with Sudan. They were built by Pharaoh Ramses II in the 13th century BCE during the New Kingdom era as a tribute to himself and his queen, Nefertari, as well as to the gods of ancient Egypt. Here are some key details:<br><br>

                        <b>1. Structure and Design :</b><br>
                        <b>- Great Temple:</b> The larger of the two, dedicated to Ramses II and the gods Amun, Ra-Horakhty, and Ptah. The façade features four colossal statues of Ramses II, each around 20 meters (66 feet) tall, carved directly into the cliff. This temple is oriented so that sunlight illuminates its inner sanctuary on specific days, believed to be Ramses' birthday and coronation day.<br>
                        <b>- Small Temple:</b> Built to honor Ramses' wife, Queen Nefertari, and the goddess Hathor. The façade has six statues—four of Ramses and two of Nefertari—each about 10 meters (33 feet) tall.<br><br>

                        <b>2. Relocation :</b><br>
                        - In the 1960s, the temples were relocated to higher ground to save them from submersion due to the construction of the Aswan High Dam and the resulting formation of Lake Nasser. This monumental relocation effort, carried out by UNESCO, involved cutting the temples into large blocks and reassembling them on an artificial hill.<br><br>

                        <b>3. Astronomical Significance :</b><br>
                        - The Great Temple is aligned so that twice a year (February 22 and October 22), sunlight penetrates its entire length to illuminate the inner sanctum, lighting up statues of Amun-Ra, Ra-Horakhty, and Ramses II himself while Ptah, associated with the underworld, remains in darkness.<br><br>

                        <b>4. Cultural and Historical Significance :</b><br>
                        - The temples serve as a symbol of Ramses II’s power and devotion to the gods. They also showcase the architectural skills and religious beliefs of ancient Egypt, particularly in how the ancient Egyptians viewed their pharaoh as a divine ruler.<br><br>

                        The Abu Simbel Temples are now a UNESCO World Heritage Site and remain one of Egypt’s most visited and revered monuments.
                      </p>
                      <button type="button" class="btn btn-warning mt-5 w-100" (click)="collapse7.toggle()" [attr.aria-expanded]="!isCollapsed7" aria-controls="collapseExample7"> Click here to show and hide information </button>
                      <div class="d-flex justify-content-center">
                        <a routerLink="/abu_simbel"><img src="../../assets/img/GoogleMaps-Icon-alone-1.webp" style="width: 50px; height: 50px; border-radius: 50%;" class="mt-3"></a>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6" data-aos="zoom-in-right" data-aos-duration="3000">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="../../assets/img/Pyramid of Djoser.jpg" class="img-fluid rounded-start" alt="Pyramid of Djoser" style="height: 250px; width: 200px;">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title pt-3 text-center ">Pyramid of Djoser</h5>
                      <p class="card-text text-align-justify" #collapse8="ngbCollapse" [(ngbCollapse)]="isCollapsed8" [horizontal]="true">
                        The Pyramid of Djoser, also known as the Step Pyramid, is one of Egypt's oldest stone structures and the earliest example of a pyramid, built around 2670 BCE during the 3rd Dynasty for Pharaoh Djoser. Located in Saqqara, near Cairo, it was designed by the architect Imhotep, who is also credited as one of the earliest known architects and engineers in history. Here are some key points about it:<br><br>

                        <b>1. Design and Structure: </b><br>
                        The Pyramid of Djoser has a unique "step" design, which consists of six mastaba (flat-roofed, rectangular structures) stacked on top of each other, creating a series of steps. This pyramid rises to about 62 meters (203 feet) and is made of limestone blocks. Originally, it was encased in smooth limestone, though much of this exterior has worn away over time.<br><br>

                        <b>2. Symbolism:</b><br> 
                        The step design was intended to resemble a staircase to the heavens, allowing Djoser's spirit to ascend and join the sun god Ra, a belief central to ancient Egyptian religion. The pyramid is often seen as a symbol of both the king’s power and a means of his eternal life.<br><br>

                        <b>3. Mortuary Complex:</b><br> 
                        Surrounding the pyramid is an extensive mortuary complex, including a large courtyard, several temples, and ceremonial structures. The complex was designed to support rituals related to the afterlife and includes a “serdab,” or chamber, with a statue of Djoser that allowed the king’s spirit to observe the rituals performed for him.<br><br>

                        <b>4. Imhotep’s Legacy:</b><br> 
                        Imhotep’s design was revolutionary, as it marked a departure from traditional mudbrick structures to durable stone construction. His work on the pyramid and complex elevated him to a near-legendary status in Egypt, and he was later deified as a god of wisdom and medicine.<br><br>

                        <b>5. Restoration and Preservation:</b><br> 
                        Over the centuries, the Pyramid of Djoser experienced significant wear and structural damage, but recent restoration efforts have stabilized it. The restoration completed in 2020 aimed to preserve this ancient monument and ensure its survival for future generations.<br><br>

                        The Pyramid of Djoser marks a major milestone in Egyptian architecture, paving the way for the later, more famous pyramids at Giza. It is recognized as part of a UNESCO World Heritage site and remains a testament to Egypt’s early innovations in monumental architecture.
                      </p>
                      <button type="button" class="btn btn-warning mt-5 w-100" (click)="collapse8.toggle()" [attr.aria-expanded]="!isCollapsed8" aria-controls="collapseExample8"> Click here to show and hide information </button>
                      <div class="d-flex justify-content-center">
                        <a routerLink="/djoser"><img src="../../assets/img/GoogleMaps-Icon-alone-1.webp" style="width: 50px; height: 50px; border-radius: 50%;" class="mt-3"></a>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6" data-aos="zoom-in-left" data-aos-duration="3000">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="../../assets/img/Philae Island.jfif" class="img-fluid rounded-start" alt="Philae Island" style="height: 250px; width: 200px;">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title pt-3 text-center ">Temple of Philae</h5>
                      <p class="card-text text-align-justify" #collapse9="ngbCollapse" [(ngbCollapse)]="isCollapsed9" [horizontal]="true">
                        Philae Island is an ancient and historically significant island located in the Nile River near Aswan, Egypt. Known for its beautiful temples and ancient ruins, the island has been a site of worship and cultural significance for thousands of years. Here are some key points about Philae Island:<br><br>

                        <b>1. Historical and Religious Importance :</b><br>
                        - Philae Island was once the location of a temple complex dedicated to the goddess Isis, a central figure in Egyptian mythology. It also contained temples for other gods and goddesses, including Hathor and Osiris.<br>
                        - The island was a pilgrimage site for worshippers of Isis, and religious practices continued here well into the Roman period, long after the fall of ancient Egypt.<br>
                        - The island and its temples were a major center for religious and cultural activities, blending Egyptian, Greek, and Roman influences over time.<br><br>

                        <b>2. UNESCO World Heritage Site :</b><br>
                        - In the 1960s, the construction of the Aswan High Dam threatened to submerge Philae Island and its temples under rising waters. As a result, UNESCO initiated a project to move the temples stone by stone to nearby Agilkia Island.<br>
                        - Today, the temples remain open to visitors, and Philae Island itself, along with other nearby monuments, is recognized as part of the UNESCO World Heritage Site known as the "Nubian Monuments."<br><br>

                        <b>3. Architectural Highlights :</b><br>
                        - The Temple of Isis, the main temple on the island, is known for its grandeur and detailed carvings depicting scenes from Egyptian mythology.<br>
                        - Other notable structures include the Kiosk of Trajan, an iconic pavilion built by the Roman Emperor Trajan, and smaller temples dedicated to Hathor and Osiris.<br>
                        - The intricate carvings and reliefs showcase a unique fusion of Pharaonic and Greco-Roman artistic styles, reflecting the island's long history of occupation by various empires.<br><br>

                        <b>4. Modern-Day Philae and Tourism :</b><br>
                        - Located near Aswan, Philae Island and the relocated temples on Agilkia Island are accessible by boat, attracting many visitors for their historical and scenic value.<br>
                        - The temple complex is often illuminated in the evening with a Sound and Light Show that narrates the history of the site, adding a dramatic touch to the experience.<br><br>

                        Philae Island remains an iconic site that offers insight into ancient Egyptian beliefs and architectural achievement. It is a popular destination for history enthusiasts and tourists interested in Egypt's past.
                      </p>
                      <button type="button" class="btn btn-warning mt-5 w-100" (click)="collapse9.toggle()" [attr.aria-expanded]="!isCollapsed9" aria-controls="collapseExample9"> Click here to show and hide information </button>
                      <div class="d-flex justify-content-center">
                        <a routerLink="/philae"><img src="../../assets/img/GoogleMaps-Icon-alone-1.webp" style="width: 50px; height: 50px; border-radius: 50%;" class="mt-3"></a>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6" data-aos="zoom-in-right" data-aos-duration="3000">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="../../assets/img/Dahshur.jfif" class="img-fluid rounded-start" alt="Dahshur" style="height: 250px; width: 200px;">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title pt-3 text-center ">Dahshur</h5>
                      <p class="card-text text-align-justify" #collapse10="ngbCollapse" [(ngbCollapse)]="isCollapsed10" [horizontal]="true">
                        Dahshur is an archaeological site located about 40 kilometers south of Cairo, Egypt. It’s one of Egypt’s lesser-known yet fascinating pyramid fields, home to some of the oldest and best-preserved pyramids. Here’s a quick overview:<br><br>

                        <b>1. The Pyramids of Dahshur :</b><br>
                        <b>- Bent Pyramid:</b> Built by Pharaoh Sneferu during the Old Kingdom, this pyramid is unique for its unusual shape—its angle changes midway up, giving it a bent appearance. It's believed that this shift was due to structural concerns, marking it as an experimental design.<br>
                        <b>- Red Pyramid:</b> Also constructed by Sneferu, this is Egypt's first true smooth-sided pyramid and the third largest in the country. Named for the reddish hue of its stones, the Red Pyramid is accessible and allows visitors to explore its inner chambers.<br><br>

                        <b>2. Historical Importance :</b><br>
                        - Dahshur’s pyramids represent an important stage in ancient Egyptian architectural development, bridging the evolution from step pyramids, like Djoser's at Saqqara, to smooth-sided pyramids.<br>
                        - Sneferu’s innovations in pyramid construction directly influenced the design of the Great Pyramid of Giza, built by his son, Pharaoh Khufu.<br><br>

                        <b>3. Other Monuments :</b><br>
                        <b>- Black Pyramid:</b> Built by Pharaoh Amenemhat III during the Middle Kingdom, this pyramid is named for the dark appearance of its mudbrick core. However, it has largely collapsed due to structural issues.<br>
                        <b>- Ancient Cemeteries:</b> Dahshur also has tombs and cemeteries from various periods, providing insight into Egyptian burial practices over millennia.<br><br>

                        <b>4. Accessibility :</b>
                        - Compared to Giza, Dahshur is quieter and less crowded, providing a unique experience for visitors interested in exploring Egyptian history without large crowds.<br>
                        - The site has been listed as a UNESCO World Heritage Site as part of the "Memphis and its Necropolis" due to its cultural and historical significance.<br><br>

                        Dahshur’s archaeological and architectural achievements make it a fascinating destination for those interested in ancient Egyptian history, with both preserved structures and accessible interior chambers.
                      </p>
                      <button type="button" class="btn btn-warning mt-5 w-100" (click)="collapse10.toggle()" [attr.aria-expanded]="!isCollapsed10" aria-controls="collapseExample10"> Click here to show and hide information </button>
                      <div class="d-flex justify-content-center">
                        <a routerLink="/dahshur"><img src="../../assets/img/GoogleMaps-Icon-alone-1.webp" style="width: 50px; height: 50px; border-radius: 50%;" class="mt-3"></a>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6" data-aos="zoom-in-left" data-aos-duration="3000">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="../../assets/img/Amarna.jpg" class="img-fluid rounded-start" alt="Amarna" style="height: 250px; width: 200px;">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title pt-3 text-center ">Amarna</h5>
                      <p class="card-text text-align-justify" #collapse11="ngbCollapse" [(ngbCollapse)]="isCollapsed11" [horizontal]="true">
                        The Amarna period, which took place during the 18th dynasty of ancient Egypt, is an intriguing chapter in Egyptian history, marked by the reign of Pharaoh Akhenaten (around 1353–1336 BCE) and his efforts to transform Egyptian religion, culture, and art. Here’s a brief overview:<br><br>

                        <b>1. Religious Revolution :</b><br>
                        <b>- Monotheism:</b> Akhenaten, originally named Amenhotep IV, shifted Egypt’s religious focus from traditional polytheism to the worship of a single deity, the Aten (the sun disc), initiating one of the earliest known forms of monotheism. He changed his name to Akhenaten to reflect his devotion.<br>
                        <b>- Atenism:</b> This new religious practice emphasized a more abstract, universal worship of the sun, distancing itself from the long-standing deities, particularly Amun-Ra.<br><br>

                        <b>2. Establishment of Akhetaten (Amarna) :</b><br>
                        <b>- New Capital City:</b> Akhenaten founded a new capital city, Akhetaten (modern-day Amarna), which was designed as a grand religious and administrative center for his worship of Aten. This city contained impressive palaces, temples, and residential areas.<br>
                        <b>- Layout and Architecture:</b> Amarna’s architecture and layout were unconventional for Egypt, with sprawling temples open to sunlight, reflecting Aten’s central role.<br><br>

                        <b>3. Distinctive Art Style :</b><br>
                        <b>- Amarna Art:</b> This period is known for its unique art style, where figures were depicted more naturalistically. Akhenaten and his family were portrayed with elongated heads, narrow faces, and sometimes exaggerated features, breaking away from the traditional, idealized depictions.<br>
                        <b>- Domestic Scenes:</b> Amarna art often depicted scenes of family life, especially of Akhenaten with his wife Nefertiti and their children, which was rare in traditional Egyptian art.<br><br>

                        <b>4. Decline and Legacy :</b><br>
                        - End of the Amarna Period: After Akhenaten’s death, his successors, including Tutankhamun, quickly abandoned Amarna and restored the old religious practices, including the worship of Amun. They even erased Akhenaten’s name and attempts at monotheism from records.<br>
                        <b>- Rediscovery:</b> Amarna was rediscovered in the 19th century, and archaeological efforts have revealed much about this unique period, from royal tombs and temples to daily life artifacts.
                      </p>
                      <button type="button" class="btn btn-warning mt-5 w-100" (click)="collapse11.toggle()" [attr.aria-expanded]="!isCollapsed11" aria-controls="collapseExample11"> Click here to show and hide information </button>
                      <div class="d-flex justify-content-center">
                        <a routerLink="/amarna"><img src="../../assets/img/GoogleMaps-Icon-alone-1.webp" style="width: 50px; height: 50px; border-radius: 50%;" class="mt-3"></a>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>


</div>
