<div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner" style="height: 600px;">
      <div class="carousel-item active">
        <video class="img-fluid" autoplay loop muted>
          <source src="../../assets/Videos/10719817-uhd_3840_2160_24fps (1).mp4" type="video/mp4" />
        </video>
      </div>

      <div class="carousel-item">
        <video class="img-fluid" autoplay loop muted>
          <source src="../../assets/Videos/7492692-hd_1920_1080_24fps.mp4" type="video/mp4" />
        </video>
      </div>

      <div class="carousel-item">
        <video class="img-fluid" autoplay loop muted>
          <source src="../../assets/Videos/11276525-uhd_4096_1720_25fps.mp4" type="video/mp4" />
        </video>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>


<div class="container pt-5">
  <div class="row">
    <div class="col-lg-6 text" data-aos="fade-right" data-aos-duration="3000">
      <h1 class="pb-2">Welcome to Egypt</h1>
      <p>The first people to live on the banks of the Nile were hunters and fishermen, who settled there over 8,000 years ago. They learned to grow crops and raise animals, and they began to build villages and towns. They traded with their neighbours and learned to sail boats. By 3000 B.C., a civilisation was established.

      Around 3100 B.C., the kingdoms of Upper and Lower Egypt were unified under a powerful king, later called a pharaoh. These kings built huge pyramids, temples and other impressive monuments. They also conquered other lands.
      
      By 1000 B.C., Egypt had split into smaller parts and the kingdom was in decline. Strong neighbours attacked and took over Egyptian territory – in 31 B.C., Egypt fell under Roman control and centuries later, in A.D. 640, Muslim warriors took over Egypt. These Arab forces ruled Egypt for several centuries and founded the modern capital, Cairo.
      
      In 1882, the British invaded and occupied Egypt. The British wanted control of the Suez Canal, which linked the Mediterranean Sea with the Red Sea and greatly shortened the sailing trip from Asia to Europe. The British stayed until Egypt declared independence in 1952.</p>
    </div>
    <div class="col-lg-6" data-aos="fade-left" data-aos-duration="3000">
      <img src="../../assets/img/egyptian-wall-with-hieroglyphs.jpg" class="rounded float-end" width="500px" height="500px" alt="...">
    </div>
  </div>

  <div class="row" data-aos="fade-right" data-aos-duration="3000">
    <button class="btn btn-warning button1 mt-1" routerLink="/about-us"><a class="text-decoration-none text-white">How can we use the application?</a></button>
  </div>
</div>




