<div class="container pt-5">
    <div class="row">
        <div class="col-lg-4" data-aos="flip-left" data-aos-duration="3000">
            <div class="card" style="width: 18rem; height: 27rem;">
                <img class="card-img-top" src="../../assets/img/DA0910_1.png" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Here is the eagle symbol in hieroglyphics, which is used to represent the letter "A".</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4" data-aos="flip-left" data-aos-duration="3000">
            <div class="card" style="width: 18rem; height: 27rem;">
                <img class="card-img-top" src="../../assets/img/DALLE2_4.png" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Here is the symbol for a snake in hieroglyphics, which represents the sound "S".</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4" data-aos="flip-left" data-aos-duration="3000">
            <div class="card" style="width: 18rem; height: 27rem;">
                <img class="card-img-top" src="../../assets/img/DALLE2_2.png" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Here is a picture of the hieroglyphic symbol for the letter "AA" (arm), showing the arm bent at the elbow as in ancient Egyptian texts.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row pt-5">
        <div class="col-lg-4" data-aos="flip-right" data-aos-duration="3000">
            <div class="card" style="width: 18rem; height: 27rem;">
                <img class="card-img-top" src="../../assets/img/DALL·E-2024-10-15-15.23.png" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Here is the quail symbol which represents the letter "W" in Egyptian hieroglyphics.</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4" data-aos="flip-right" data-aos-duration="3000">
            <div class="card" style="width: 18rem; height: 27rem;">
                <img class="card-img-top" src="../../assets/img/DALL·E-2024-10-15-15.36.png" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Here is the image of the hieroglyph representing the letter "H," designed to resemble a twisted thread or rope. </p>
                </div>
            </div>
        </div>

        <div class="col-lg-4" data-aos="flip-right" data-aos-duration="3000">
            <div class="card" style="width: 18rem; height: 27rem;">
                <img class="card-img-top" src="../../assets/img/DALL·E-2024-10-15-15.38.png" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Here is the image of the hieroglyph symbol representing the letter "N," designed as a wavy line or water wave.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row pt-5">
        <div class="col-lg-4" data-aos="flip-left" data-aos-duration="3000">
            <div class="card" style="width: 18rem; height: 27rem;">
                <img class="card-img-top" src="../../assets/img/DALL·E-2024-10-15-15.43.png" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Here is the image of the hieroglyph representing the letter "M," depicted as an owl.</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4" data-aos="flip-left" data-aos-duration="3000">
            <div class="card" style="width: 18rem; height: 27rem;">
                <img class="card-img-top" src="../../assets/img/DALL·E-2024-10-15-06.32.png" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Here is a picture of the hieroglyphic symbol for the "papyrus reed" which represents the sound "I" or "Y". </p>
                </div>
            </div>
        </div>

        <div class="col-lg-4" data-aos="flip-left" data-aos-duration="3000">
            <div class="card" style="width: 18rem; height: 27rem;">
                <img class="card-img-top" src="../../assets/img/DALL·E-2024-10-15-06.37.png" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Here is the image of the Egyptian hieroglyph "SH" representing a plant bud or shoot, resembling a vertical reed with a closed bud.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row pt-5">
        <div class="col-lg-4" data-aos="flip-right" data-aos-duration="3000">
            <div class="card" style="width: 18rem; height: 27rem;">
                <img class="card-img-top" src="../../assets/img/DA" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Here is the image of the Egyptian hieroglyph symbol representing a snake or serpent, often associated with the letters "F".</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4" data-aos="flip-right" data-aos-duration="3000">
            <div class="card" style="width: 18rem; height: 27rem;">
                <img class="card-img-top" src="../../assets/img/DA" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Here's an artistic rendering of the ibis bird as a hieroglyphic symbol, styled in the traditional ancient Egyptian art form , often associated with the letters "B" ,  </p>
                </div>
            </div>
        </div>

        <div class="col-lg-4" data-aos="flip-right" data-aos-duration="3000">
            <div class="card" style="width: 18rem; height: 27rem;">
                <img class="card-img-top" src="../../assets/img/DA" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">This is the image representing the hieroglyphic symbol for "mat" or "reed mat" in a traditional Egyptian style , often associated with the letters "B". </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row pt-5">
        <div class="col-lg-4" data-aos="flip-left" data-aos-duration="3000">
            <div class="card" style="width: 18rem; height: 27rem;">
                <img class="card-img-top" src="../../assets/img/DA" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Here is an artistic representation of the ancient Egyptian hieroglyph for "KH" symbolized by the head of a scarab beetle in a traditional hieroglyphic style.</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4" data-aos="flip-left" data-aos-duration="3000">
            <div class="card" style="width: 18rem; height: 27rem;">
                <img class="card-img-top" src="../../assets/img/DA" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Here is a hieroglyphic glyph representing "sand hill", often associated with the letters "K".  </p>
                </div>
            </div>
        </div>

        <div class="col-lg-4" data-aos="flip-left" data-aos-duration="3000">
            <div class="card" style="width: 18rem; height: 27rem;">
                <img class="card-img-top" src="../../assets/img/DA" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Here is the image of the cobra hieroglyph symbol, representing the Uraeus, often associated with the letters "DJ". </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row pt-5">
        <div class="col-lg-4" data-aos="flip-right" data-aos-duration="3000">
            <div class="card" style="width: 18rem; height: 27rem;">
                <img class="card-img-top" src="../../assets/img/DA" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Here is the hieroglyph symbol representing the letter "H" (house)</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4" data-aos="flip-right" data-aos-duration="3000">
            <div class="card" style="width: 18rem; height: 27rem;">
                <img class="card-img-top" src="../../assets/img/DA" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">This is a picture of the hieroglyph for "rope" or the letter "T". You can see the knotted shape which reflects the traditional symbolism of the letter.</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4" data-aos="flip-right" data-aos-duration="3000">
            <div class="card" style="width: 18rem; height: 27rem;">
                <img class="card-img-top" src="../../assets/img/DA" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Here is an image of the hieroglyph symbol "SW" representing a door or gate in ancient Egyptian writing. </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row pt-5">
        <div class="col-lg-4" data-aos="flip-left" data-aos-duration="3000">
            <div class="card" style="width: 18rem; height: 27rem;">
                <img class="card-img-top" src="../../assets/img/DA" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">This is the image of the hieroglyphic symbol "R", which is an open mouth.</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4" data-aos="flip-left" data-aos-duration="3000">
            <div class="card" style="width: 18rem; height: 27rem;">
                <img class="card-img-top" src="../../assets/img/DA" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Here is the image depicting the hieroglyphic symbol "KA" resembling a fish, designed in the ancient Egyptian style.</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4" data-aos="flip-left" data-aos-duration="3000">
            <div class="card" style="width: 18rem; height: 27rem;">
                <img class="card-img-top" src="../../assets/img/DA" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Here's the image of the straight line hieroglyphic symbol representing a numerical value or measurement in the traditional ancient Egyptian style.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row pt-5">
        <div class="col-lg-4" data-aos="flip-right" data-aos-duration="3000">
            <div class="card" style="width: 18rem; height: 27rem;">
                <img class="card-img-top" src="../../assets/img/DA" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Here is an image representing the ancient Egyptian hieroglyph for the scepter of power, also known as the "was" symbol.</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4" data-aos="flip-right" data-aos-duration="3000">
            <div class="card" style="width: 18rem; height: 27rem;">
                <img class="card-img-top" src="../../assets/img/DA" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Here's the image of an ancient Egyptian hieroglyph representing a village or city. It includes the symbolic elements of boundaries and intersecting streets.</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4" data-aos="flip-right" data-aos-duration="3000">
            <div class="card" style="width: 18rem; height: 27rem;">
                <img class="card-img-top" src="../../assets/img/Gemini_Generated_Image_6q0gyd6q0gyd6q0g.jfif" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">The man symbol in ancient Egyptian hieroglyphics, used to indicate people or titles. It is a semantic symbol, referring to a specific person or title.</p>
                </div>
            </div>
        </div>
    </div>

    
</div>
